<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPlatformDepth</key>
	<string>switchOperationHue</string>
	<key>positionedTempleSize</key>
	<string>certificateContextTheme</string>
	<key>prevTouchInset</key>
	<string>textAsPattern</string>
	<key>standaloneWidgetDensity</key>
	<string>layoutAgainstStructure</string>
	<key>timerByForm</key>
	<string>hardStreamCenter</string>
</dict>
</plist>
