<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureContainLayer</key>
	<string>observerBufferOffset</string>
	<key>chapterAlongParam</key>
	<string>secondNavigatorOrientation</string>
	<key>effectParamRate</key>
	<string>characterAboutShape</string>
	<key>indicatorOutsideObserver</key>
	<string>usedSubscriptionType</string>
	<key>modalAndState</key>
	<string>mobileSwiftFormat</string>
	<key>segmentShapeDistance</key>
	<string>modulusByValue</string>
	<key>taskAndChain</key>
	<string>interactiveQueryTop</string>
</dict>
</plist>
