<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeFrameworkTension</key>
	<string>offsetWithoutDecorator</string>
	<key>metadataWithBridge</key>
	<string>blocBesidePattern</string>
	<key>momentumShapeHead</key>
	<string>painterAboutScope</string>
	<key>secondButtonRight</key>
	<string>particleWorkOffset</string>
	<key>storeInterpreterIndex</key>
	<string>cubeLikeVisitor</string>
	<key>textMediatorTension</key>
	<string>interfaceWithSystem</string>
</dict>
</plist>
