<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAboutVariable</key>
	<string>sceneInStrategy</string>
	<key>concreteAspectratioDuration</key>
	<string>semanticsCompositeBrightness</string>
	<key>coordinatorMethodTheme</key>
	<string>equalizationAgainstDecorator</string>
	<key>exceptionStyleFlags</key>
	<string>handlerAmongBuffer</string>
	<key>mediumTextOffset</key>
	<string>priorityPhaseTheme</string>
	<key>parallelIsolateBorder</key>
	<string>smallHashLeft</string>
	<key>prevToolContrast</key>
	<string>crucialRichtextPressure</string>
	<key>segmentFlyweightMargin</key>
	<string>desktopAssetSkewy</string>
	<key>ternarySingletonRotation</key>
	<string>lossAgainstState</string>
</dict>
</plist>
