<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedEntropyName</key>
	<string>sizedboxMediatorShade</string>
	<key>constraintNearChain</key>
	<string>euclideanGetxScale</string>
	<key>particleVariableValidation</key>
	<string>sequentialViewTension</string>
	<key>presenterContainObserver</key>
	<string>composableSegueOpacity</string>
	<key>responsiveSpecifierVisible</key>
	<string>commonStateSize</string>
	<key>serviceOrStructure</key>
	<string>oldEqualizationTransparency</string>
	<key>tabbarCommandType</key>
	<string>gramAboutTemple</string>
</dict>
</plist>
