<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveUntilStructure</key>
	<string>errorJobSaturation</string>
	<key>discardedStorageTag</key>
	<string>zoneStageTheme</string>
	<key>euclideanTweenBehavior</key>
	<string>constScaffoldMargin</string>
	<key>observerPerStage</key>
	<string>unsortedVariantIndex</string>
	<key>sizeLayerSpeed</key>
	<string>resultCompositeMode</string>
	<key>webNavigatorContrast</key>
	<string>tangentInFacade</string>
</dict>
</plist>
