<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithoutTask</key>
	<string>subtleCosineCount</string>
	<key>localizationParameterRate</key>
	<string>normAroundPattern</string>
	<key>particleOfFramework</key>
	<string>groupFormRight</string>
	<key>sequentialLabelHue</key>
	<string>cubitThroughVisitor</string>
	<key>threadContainJob</key>
	<string>retainedEventRotation</string>
	<key>usagePerProxy</key>
	<string>scaleDecoratorOrigin</string>
</dict>
</plist>
