<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentMultiplicationFeedback</key>
	<string>apertureDespiteActivity</string>
	<key>curveAndMediator</key>
	<string>comprehensiveViewDistance</string>
	<key>graphicShapeHue</key>
	<string>serviceAwaySystem</string>
	<key>momentumAroundBuffer</key>
	<string>repositoryVarStatus</string>
	<key>respectiveArithmeticOffset</key>
	<string>controllerVersusScope</string>
</dict>
</plist>
