<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnVersusPhase</key>
	<string>richtextAboutLevel</string>
	<key>memberSystemTag</key>
	<string>sequentialCompositionCoord</string>
	<key>particleFrameworkHead</key>
	<string>entropyAsParameter</string>
	<key>skinFrameworkBorder</key>
	<string>musicDecoratorTension</string>
	<key>timerAdapterDelay</key>
	<string>inactivePreviewOrigin</string>
	<key>topicAmongPhase</key>
	<string>responseParamHue</string>
</dict>
</plist>
