<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpecifierTheme</key>
	<string>resolverWithLayer</string>
	<key>comprehensiveAnimationLeft</key>
	<string>firstEntityFrequency</string>
	<key>pageviewWithoutObserver</key>
	<string>baseIncludePhase</string>
	<key>positionedAdapterBottom</key>
	<string>actionForParam</string>
	<key>sessionSystemMode</key>
	<string>animatedDrawerPosition</string>
	<key>streamVarOffset</key>
	<string>specifyInterfaceTint</string>
</dict>
</plist>
