<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMemberSkewx</key>
	<string>publicDurationFrequency</string>
	<key>cellPhaseTheme</key>
	<string>subsequentEquipmentSkewx</string>
	<key>concreteBrushShape</key>
	<string>notifierPerInterpreter</string>
	<key>repositoryThroughMediator</key>
	<string>sortedResourceOffset</string>
	<key>statefulListenerFlags</key>
	<string>sinkAroundSingleton</string>
</dict>
</plist>
