<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityCompositeState</key>
	<string>visibleCompleterDuration</string>
	<key>intuitiveMarginIndex</key>
	<string>completionWithoutActivity</string>
	<key>optimizerIncludePhase</key>
	<string>buttonCycleDelay</string>
	<key>persistentCompleterResponse</key>
	<string>resizableDescriptionDuration</string>
	<key>pivotalSinkTension</key>
	<string>overlayPerObserver</string>
	<key>radiusOrBuffer</key>
	<string>builderThroughProcess</string>
	<key>sliderBufferOrientation</key>
	<string>plateJobSaturation</string>
	<key>smartRouterIndex</key>
	<string>utilInsideCommand</string>
	<key>specifierInInterpreter</key>
	<string>reusableEntitySaturation</string>
</dict>
</plist>
