<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAboutParam</key>
	<string>popupJobDistance</string>
	<key>hierarchicalCubitSize</key>
	<string>animatedAllocatorLocation</string>
	<key>layerFromTemple</key>
	<string>disparateDialogsSkewx</string>
	<key>marginVersusProxy</key>
	<string>cartesianRouteRight</string>
	<key>playbackActionLocation</key>
	<string>currentBlocResponse</string>
	<key>sinkChainEdge</key>
	<string>draggableLossTheme</string>
</dict>
</plist>
