<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedImageForce</key>
	<string>taskOutsidePattern</string>
	<key>chartChainFlags</key>
	<string>compositionalSegmentFeedback</string>
	<key>containerEnvironmentIndex</key>
	<string>completionAndNumber</string>
	<key>coordinatorThroughVariable</key>
	<string>durationBridgePadding</string>
	<key>dimensionUntilActivity</key>
	<string>entityLikeWork</string>
	<key>futureLayerCenter</key>
	<string>draggableFlexFlags</string>
	<key>mainReducerLeft</key>
	<string>metadataThanMode</string>
	<key>overlaySingletonFrequency</key>
	<string>inactiveDescriptionMomentum</string>
	<key>parallelChartSpacing</key>
	<string>ternaryAmongKind</string>
</dict>
</plist>
