<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertParamMode</key>
	<string>oldProjectVisible</string>
	<key>globalUsageScale</key>
	<string>fusedSegmentSize</string>
	<key>offsetAwayPattern</key>
	<string>invisibleRemainderDirection</string>
	<key>plateFromForm</key>
	<string>previewBeyondFunction</string>
	<key>protectedDocumentTension</key>
	<string>hierarchicalDescriptorForce</string>
	<key>rectNumberShade</key>
	<string>utilNumberDuration</string>
	<key>tickerWithoutLevel</key>
	<string>progressbarFlyweightMode</string>
</dict>
</plist>
