<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxThanParam</key>
	<string>descriptorPerObserver</string>
	<key>petFormTail</key>
	<string>clipperInterpreterMargin</string>
	<key>tappableRepositoryStatus</key>
	<string>intensityAmongStructure</string>
	<key>ternaryDespiteForm</key>
	<string>flexOperationResponse</string>
	<key>topicOfLevel</key>
	<string>graphicBesideChain</string>
</dict>
</plist>
