<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryJobBrightness</key>
	<string>normAlongBridge</string>
	<key>boxshadowLevelSaturation</key>
	<string>nextIndicatorDistance</string>
	<key>fragmentObserverDensity</key>
	<string>projectPerContext</string>
	<key>observerWithoutBridge</key>
	<string>presenterMementoTail</string>
	<key>textAgainstTask</key>
	<string>sineMethodPosition</string>
</dict>
</plist>
