<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTextureLeft</key>
	<string>storeByVar</string>
	<key>discardedActionType</key>
	<string>labelAdapterTop</string>
	<key>immediateMultiplicationSkewx</key>
	<string>extensionPerParam</string>
	<key>interactorLayerSkewy</key>
	<string>euclideanSwiftHead</string>
	<key>observerParamTension</key>
	<string>invisiblePopupAppearance</string>
	<key>rectPrototypeBrightness</key>
	<string>semanticShaderFeedback</string>
	<key>semanticsContextAcceleration</key>
	<string>taskLikeState</string>
	<key>visibleCosineAcceleration</key>
	<string>oldRemainderState</string>
</dict>
</plist>
