<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOfStage</key>
	<string>durationPrototypeDistance</string>
	<key>buttonCommandOpacity</key>
	<string>staticChapterHead</string>
	<key>callbackProxyShape</key>
	<string>entityAtMode</string>
	<key>entropyVariableRotation</key>
	<string>timerViaTier</string>
	<key>geometricConvolutionStyle</key>
	<string>semanticConfigurationFrequency</string>
	<key>storeAroundComposite</key>
	<string>framePatternTag</string>
	<key>techniqueChainVisible</key>
	<string>stepStyleTension</string>
	<key>unactivatedExceptionName</key>
	<string>scaleStructureMomentum</string>
</dict>
</plist>
