<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRequestLocation</key>
	<string>agileEntropyInset</string>
	<key>deferredTransitionTransparency</key>
	<string>uniqueSpecifierBound</string>
	<key>notifierLikeVariable</key>
	<string>transformerTierContrast</string>
	<key>particleCommandTail</key>
	<string>publicGradientMargin</string>
	<key>popupWithFacade</key>
	<string>tangentChainName</string>
	<key>titleProxyInteraction</key>
	<string>alignmentJobVelocity</string>
</dict>
</plist>
