<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoCosineAcceleration</key>
	<string>basicStepTail</string>
	<key>normalSceneSaturation</key>
	<string>dropdownbuttonSystemKind</string>
	<key>providerMethodInteraction</key>
	<string>elasticTitleRotation</string>
	<key>transformerVisitorTint</key>
	<string>customResponseOrientation</string>
</dict>
</plist>
