<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferShapeDirection</key>
	<string>managerTypeDistance</string>
	<key>channelDuringType</key>
	<string>actionPrototypePadding</string>
	<key>completerFacadeVelocity</key>
	<string>modelTypeFormat</string>
	<key>sliderPrototypeType</key>
	<string>exceptionAwayObserver</string>
</dict>
</plist>
