<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineDuringMode</key>
	<string>sustainablePainterAcceleration</string>
	<key>basicCanvasBorder</key>
	<string>capacitiesBeyondStyle</string>
	<key>brushDespitePhase</key>
	<string>widgetSinceSystem</string>
	<key>granularInterfaceStatus</key>
	<string>semanticMasterEdge</string>
	<key>observerFacadePadding</key>
	<string>parallelChartInset</string>
	<key>queueLikeType</key>
	<string>associatedPointOpacity</string>
	<key>radiusKindTail</key>
	<string>subpixelFromForm</string>
</dict>
</plist>
