<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedScrollDistance</key>
	<string>progressbarForMode</string>
	<key>overlayAmongAction</key>
	<string>constChartTension</string>
	<key>statefulCellFlags</key>
	<string>kernelWithoutPlatform</string>
	<key>storageStructureBound</key>
	<string>backwardAsyncTint</string>
	<key>titleWorkInset</key>
	<string>spotEnvironmentResponse</string>
</dict>
</plist>
