<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesJobBehavior</key>
	<string>containerCycleCenter</string>
	<key>custompaintAlongSingleton</key>
	<string>reducerBesideCommand</string>
	<key>decorationPerLevel</key>
	<string>customizedCanvasOffset</string>
	<key>resourceAgainstForm</key>
	<string>futureDuringFramework</string>
	<key>signatureFormMargin</key>
	<string>rowWithTemple</string>
	<key>singleThemeTint</key>
	<string>equipmentAdapterDepth</string>
	<key>transformerCompositeDirection</key>
	<string>sequentialCurveBound</string>
</dict>
</plist>
