<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeChainTint</key>
	<string>topicAroundMethod</string>
	<key>gesturedetectorDecoratorInterval</key>
	<string>drawerAboutActivity</string>
	<key>heapContextResponse</key>
	<string>extensionWorkShape</string>
	<key>heapModeSkewy</key>
	<string>labelIncludeStrategy</string>
	<key>staticQueryHead</key>
	<string>commonFutureBound</string>
	<key>titleSingletonName</key>
	<string>sinkJobState</string>
	<key>viewVariableDepth</key>
	<string>resourceBeyondVisitor</string>
</dict>
</plist>
