<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentThreadBottom</key>
	<string>adaptiveThreadMargin</string>
	<key>observerSinceMediator</key>
	<string>cubitStyleOrientation</string>
	<key>particleChainDepth</key>
	<string>difficultHandlerPosition</string>
	<key>robustNormSkewy</key>
	<string>optionOfStage</string>
	<key>symmetricTaskMode</key>
	<string>independentPreviewAlignment</string>
</dict>
</plist>
