<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionStatelessEdge</key>
	<string>frameThanChain</string>
	<key>completerPrototypeDirection</key>
	<string>paddingLikeBuffer</string>
	<key>compositionLayerCount</key>
	<string>layoutActionResponse</string>
	<key>eventInsideChain</key>
	<string>equalizationVarInterval</string>
	<key>featureThanVisitor</key>
	<string>fragmentAwayForm</string>
	<key>labelJobIndex</key>
	<string>equipmentVisitorState</string>
	<key>methodScopeDensity</key>
	<string>paddingFromFunction</string>
	<key>otherDrawerTheme</key>
	<string>positionedAndPlatform</string>
	<key>progressbarWorkTop</key>
	<string>cacheUntilFunction</string>
</dict>
</plist>
