<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFlyweightColor</key>
	<string>robustBitrateRate</string>
	<key>flexContainType</key>
	<string>cursorExceptSystem</string>
	<key>protectedSliderTop</key>
	<string>utilAtTemple</string>
	<key>widgetAdapterCoord</key>
	<string>interfaceStructureBrightness</string>
</dict>
</plist>
