<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheActivityVisible</key>
	<string>reducerVarHue</string>
	<key>channelTemplePosition</key>
	<string>popupKindVelocity</string>
	<key>coordinatorVariableResponse</key>
	<string>protocolBesidePlatform</string>
	<key>durationAmongInterpreter</key>
	<string>liteChartBorder</string>
	<key>layoutByProxy</key>
	<string>opaqueTextCoord</string>
	<key>pageviewInsideStructure</key>
	<string>iterativeMetadataTop</string>
	<key>protectedRowBottom</key>
	<string>overlayTempleBehavior</string>
	<key>resolverOutsidePattern</key>
	<string>durationLikeForm</string>
	<key>typicalProgressbarOrigin</key>
	<string>gridBesideJob</string>
</dict>
</plist>
