<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAndEnvironment</key>
	<string>relationalSizeStatus</string>
	<key>grainTempleResponse</key>
	<string>substantialProviderTag</string>
	<key>independentWidgetDensity</key>
	<string>greatBulletFeedback</string>
	<key>parallelDecorationTop</key>
	<string>crucialTextForce</string>
	<key>utilInsideProxy</key>
	<string>callbackInsideJob</string>
	<key>webTabbarShade</key>
	<string>unaryNumberPressure</string>
</dict>
</plist>
