<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCoordinatorVelocity</key>
	<string>eventContainFunction</string>
	<key>cursorStrategyAcceleration</key>
	<string>masterAwayStyle</string>
	<key>heroAsPhase</key>
	<string>ephemeralConstraintInterval</string>
	<key>mediumScaleBorder</key>
	<string>protocolVisitorDuration</string>
	<key>protocolSinceComposite</key>
	<string>transitionInsideLevel</string>
</dict>
</plist>
