<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferThanState</key>
	<string>listviewJobResponse</string>
	<key>customAsyncMomentum</key>
	<string>uniformSizedboxValidation</string>
	<key>flexKindAlignment</key>
	<string>mobileResultBrightness</string>
	<key>nextSubscriptionVisible</key>
	<string>errorBesideInterpreter</string>
	<key>subscriptionPlatformBottom</key>
	<string>enabledChannelOrientation</string>
</dict>
</plist>
