<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionFormRight</key>
	<string>animatedDependencyMode</string>
	<key>functionalTaskCount</key>
	<string>configurationVisitorEdge</string>
	<key>ignoredThreadEdge</key>
	<string>reductionDespiteParameter</string>
	<key>intensityStyleFormat</key>
	<string>exceptionScopeFeedback</string>
	<key>notificationExceptTask</key>
	<string>dynamicGrainSize</string>
	<key>overlaySincePhase</key>
	<string>certificateStrategyCoord</string>
	<key>resultExceptValue</key>
	<string>taskSingletonFormat</string>
	<key>spineTaskOrientation</key>
	<string>nodeActivityContrast</string>
	<key>threadInsideMediator</key>
	<string>stampStructureBorder</string>
	<key>topicAboutStyle</key>
	<string>graphDespiteLayer</string>
</dict>
</plist>
