<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInkwellTop</key>
	<string>listviewStateVisibility</string>
	<key>explicitInteractorVisible</key>
	<string>mobileSkirtRight</string>
	<key>mainChapterScale</key>
	<string>isolateStageVisibility</string>
	<key>routerDespiteBridge</key>
	<string>singletonContainParameter</string>
	<key>singletonAboutValue</key>
	<string>assetValueTransparency</string>
	<key>tablePrototypeTop</key>
	<string>mutableIsolateFeedback</string>
</dict>
</plist>
