<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationStageMargin</key>
	<string>entropyParameterTheme</string>
	<key>intermediateDescriptionLeft</key>
	<string>observerMediatorFlags</string>
	<key>popupBeyondTask</key>
	<string>momentumAboutComposite</string>
	<key>presenterLikePrototype</key>
	<string>providerEnvironmentDelay</string>
	<key>switchPerPattern</key>
	<string>featureNearLayer</string>
	<key>topicTaskResponse</key>
	<string>builderVisitorBorder</string>
</dict>
</plist>
