<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAndVar</key>
	<string>numericalErrorValidation</string>
	<key>cacheThroughComposite</key>
	<string>methodVarDistance</string>
	<key>eventFrameworkDistance</key>
	<string>customizedButtonBottom</string>
	<key>exceptionAwayProcess</key>
	<string>listenerPlatformInterval</string>
	<key>granularInkwellFlags</key>
	<string>resilientAxisKind</string>
	<key>graphAroundProxy</key>
	<string>effectShapeAlignment</string>
	<key>viewEnvironmentIndex</key>
	<string>dependencyModeDelay</string>
</dict>
</plist>
