<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferBySystem</key>
	<string>symmetricStoreDistance</string>
	<key>captionAwayTier</key>
	<string>labelVariableDuration</string>
	<key>completionStructureLocation</key>
	<string>concurrentUsageAcceleration</string>
	<key>concurrentAnchorAppearance</key>
	<string>uniformDurationHead</string>
	<key>customDurationAlignment</key>
	<string>tabbarPhaseCount</string>
	<key>euclideanDrawerTension</key>
	<string>accordionProviderMode</string>
	<key>primaryAsyncOrientation</key>
	<string>scrollValueForce</string>
	<key>protocolNumberSkewy</key>
	<string>cupertinoAnimationOrigin</string>
	<key>sliderOperationDirection</key>
	<string>masterVarBrightness</string>
	<key>webWorkflowState</key>
	<string>controllerPrototypeOpacity</string>
</dict>
</plist>
