<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxOperationType</key>
	<string>composableSignatureAcceleration</string>
	<key>comprehensiveSinkSkewx</key>
	<string>overlayOrVisitor</string>
	<key>containerAroundValue</key>
	<string>commandByPhase</string>
	<key>currentMusicFlags</key>
	<string>scrollableTweenMargin</string>
	<key>curveVisitorDensity</key>
	<string>sizedboxAmongProxy</string>
	<key>diffableBulletTag</key>
	<string>resizableBuilderResponse</string>
	<key>giftTierTail</key>
	<string>intensityWithoutDecorator</string>
	<key>isolateModeOpacity</key>
	<string>streamDecoratorOpacity</string>
	<key>pivotalEffectInteraction</key>
	<string>widgetModeBottom</string>
</dict>
</plist>
