<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianReducerBehavior</key>
	<string>durationByLayer</string>
	<key>projectionParamDistance</key>
	<string>previewTaskBorder</string>
	<key>touchViaTier</key>
	<string>normalPrecisionBehavior</string>
</dict>
</plist>
