<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsPerMemento</key>
	<string>previewParamBottom</string>
	<key>marginVisitorTop</key>
	<string>difficultCompleterInteraction</string>
	<key>materialDecorationForce</key>
	<string>gesturePlatformAlignment</string>
	<key>prevCustompaintHead</key>
	<string>titleAmongEnvironment</string>
</dict>
</plist>
