<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticVersusForm</key>
	<string>semanticNodeAcceleration</string>
	<key>nativeCubitBrightness</key>
	<string>uniformNodeInset</string>
	<key>observerSinceObserver</key>
	<string>unsortedSignTint</string>
	<key>otherAnimationVisible</key>
	<string>resourceBeyondFacade</string>
	<key>timerTypeLocation</key>
	<string>borderNearFlyweight</string>
</dict>
</plist>
