<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryInsideFramework</key>
	<string>featureAroundOperation</string>
	<key>canvasTypeValidation</key>
	<string>flexibleMultiplicationIndex</string>
	<key>custompaintAmongMediator</key>
	<string>parallelExponentName</string>
	<key>getxStrategyBorder</key>
	<string>scrollNumberOpacity</string>
	<key>giftActionTension</key>
	<string>cubitForCycle</string>
	<key>hierarchicalRectCoord</key>
	<string>loopInStage</string>
	<key>navigatorExceptTask</key>
	<string>notifierBridgeVelocity</string>
	<key>presenterAmongStage</key>
	<string>projectionOutsidePrototype</string>
	<key>symbolFromParam</key>
	<string>robustZoneSkewx</string>
	<key>utilSystemIndex</key>
	<string>secondListenerShade</string>
</dict>
</plist>
