<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphOfFlyweight</key>
	<string>dependencyAdapterOpacity</string>
	<key>invisibleObserverSkewx</key>
	<string>unsortedCatalystTension</string>
	<key>pageviewInsideChain</key>
	<string>synchronousVariantRotation</string>
	<key>resilientClipperInterval</key>
	<string>alignmentValueTail</string>
	<key>retainedAwaitForce</key>
	<string>firstProtocolCount</string>
</dict>
</plist>
