<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredBuilderRotation</key>
	<string>nibMediatorStatus</string>
	<key>smartTechniqueAlignment</key>
	<string>animationNearPattern</string>
	<key>statelessAmongDecorator</key>
	<string>unactivatedLabelStyle</string>
</dict>
</plist>
