<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineViaMemento</key>
	<string>asyncStreamBottom</string>
	<key>characterAgainstPhase</key>
	<string>primaryDecorationVelocity</string>
	<key>checklistAndJob</key>
	<string>mediaFlyweightForce</string>
	<key>frameModeInteraction</key>
	<string>resourceJobMomentum</string>
	<key>gateFrameworkSkewx</key>
	<string>plateSincePattern</string>
	<key>gemAboutPrototype</key>
	<string>resolverAboutAdapter</string>
	<key>grayscaleMementoShade</key>
	<string>permanentHashSkewx</string>
	<key>interactiveDropdownbuttonTop</key>
	<string>futureCycleRight</string>
	<key>precisionTierScale</key>
	<string>injectionParamAcceleration</string>
</dict>
</plist>
