<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStructureRate</key>
	<string>pointVisitorFeedback</string>
	<key>pinchableSegueTension</key>
	<string>oldDecorationAcceleration</string>
	<key>respectiveOverlayOrigin</key>
	<string>layerTempleMomentum</string>
	<key>responsiveResolverOpacity</key>
	<string>prismaticTechniqueStyle</string>
	<key>streamProxyInset</key>
	<string>convolutionChainOpacity</string>
	<key>substantialSizeCenter</key>
	<string>localizationContextInterval</string>
	<key>tickerCompositeBound</key>
	<string>dedicatedSegmentResponse</string>
	<key>viewShapeStatus</key>
	<string>hashDuringTask</string>
</dict>
</plist>
