<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistThanTemple</key>
	<string>euclideanResponseMode</string>
	<key>enabledCellInteraction</key>
	<string>respectiveDialogsEdge</string>
	<key>grainStrategyInteraction</key>
	<string>coordinatorJobRate</string>
</dict>
</plist>
