<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocExceptFlyweight</key>
	<string>transitionInFacade</string>
	<key>largeCollectionResponse</key>
	<string>labelUntilObserver</string>
	<key>modulusAmongState</key>
	<string>rowAboutDecorator</string>
	<key>stepCompositeSpacing</key>
	<string>semanticStackOrigin</string>
	<key>vectorBesidePhase</key>
	<string>missedInteractorTop</string>
</dict>
</plist>
