<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventAlongNumber</key>
	<string>draggableBuilderVelocity</string>
	<key>storageInsideAdapter</key>
	<string>observerDecoratorPadding</string>
	<key>subscriptionAdapterSize</key>
	<string>marginMementoShade</string>
	<key>synchronousNodeRight</key>
	<string>viewVariableStyle</string>
</dict>
</plist>
