<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPerVariable</key>
	<string>layerActionPadding</string>
	<key>grainStructureEdge</key>
	<string>requestOfAction</string>
	<key>gramWithoutPattern</key>
	<string>concurrentTextfieldSaturation</string>
	<key>movementAwayProxy</key>
	<string>presenterCommandAppearance</string>
	<key>nativeConfigurationName</key>
	<string>listenerOfFramework</string>
	<key>resizableAxisFormat</key>
	<string>semanticsFrameworkContrast</string>
	<key>sortedExpandedBehavior</key>
	<string>techniqueAgainstLayer</string>
	<key>sortedManagerDelay</key>
	<string>elasticProtocolStyle</string>
	<key>taskContainLevel</key>
	<string>diffableRouterBound</string>
	<key>textureUntilBridge</key>
	<string>viewFacadeMargin</string>
</dict>
</plist>
