<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxScopeVisible</key>
	<string>gestureAsPrototype</string>
	<key>criticalIntensityBehavior</key>
	<string>staticRectTint</string>
	<key>dropdownbuttonTempleStatus</key>
	<string>timerWithoutBuffer</string>
	<key>monsterSinceVar</key>
	<string>navigationStructureScale</string>
	<key>publicCallbackAlignment</key>
	<string>observerAgainstTemple</string>
	<key>shaderActionResponse</key>
	<string>lastBlocShade</string>
	<key>signatureContainJob</key>
	<string>cardKindAlignment</string>
	<key>statefulListenerCoord</key>
	<string>spriteBeyondStrategy</string>
</dict>
</plist>
