<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitLayerBorder</key>
	<string>nextAlertFlags</string>
	<key>diversifiedInterfaceBrightness</key>
	<string>skinModeBottom</string>
	<key>fusedWorkflowIndex</key>
	<string>dependencyFromPhase</string>
	<key>mediumButtonShade</key>
	<string>descriptorForStrategy</string>
	<key>pointForPattern</key>
	<string>adaptiveChannelBorder</string>
	<key>precisionJobVelocity</key>
	<string>beginnerButtonMode</string>
	<key>respectiveGraphTheme</key>
	<string>intuitiveGramMode</string>
	<key>singleProviderTheme</key>
	<string>delicateGetxOrientation</string>
	<key>techniqueSinceEnvironment</key>
	<string>pivotalTitleHead</string>
	<key>unactivatedBinaryResponse</key>
	<string>staticBuilderInterval</string>
</dict>
</plist>
