<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerContainType</key>
	<string>hardWorkflowAppearance</string>
	<key>frameUntilMethod</key>
	<string>sinkViaState</string>
	<key>logarithmPhaseStatus</key>
	<string>futureTempleCount</string>
	<key>projectionFormLocation</key>
	<string>commonCurveSkewx</string>
	<key>similarAspectEdge</key>
	<string>textMediatorOffset</string>
	<key>sinkVariableDuration</key>
	<string>viewCommandDuration</string>
</dict>
</plist>
