<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorValueValidation</key>
	<string>layoutDuringShape</string>
	<key>chartScopeInset</key>
	<string>futureNearMethod</string>
	<key>entityStyleMargin</key>
	<string>viewLayerDensity</string>
	<key>equipmentKindName</key>
	<string>statelessAsVar</string>
	<key>gesturedetectorJobBorder</key>
	<string>streamPatternBehavior</string>
	<key>presenterActivityLeft</key>
	<string>metadataVarContrast</string>
	<key>prismaticFrameResponse</key>
	<string>descriptionForMemento</string>
	<key>rectValueBehavior</key>
	<string>parallelShaderFeedback</string>
	<key>relationalTabviewBound</key>
	<string>typicalDialogsKind</string>
	<key>remainderBesideEnvironment</key>
	<string>disparateGestureTheme</string>
</dict>
</plist>
