<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerNavigatorShade</key>
	<string>menuNumberForce</string>
	<key>declarativeCharacterRotation</key>
	<string>transformerPerComposite</string>
	<key>largeResolverForce</key>
	<string>positionedAlongComposite</string>
	<key>mediumIntensityPosition</key>
	<string>optionLevelRight</string>
	<key>memberInPattern</key>
	<string>storageViaCommand</string>
	<key>mutableIntensityPressure</key>
	<string>smartProgressbarDensity</string>
	<key>operationOperationCoord</key>
	<string>resilientBufferInset</string>
	<key>responsePerSystem</key>
	<string>singleCertificateLocation</string>
	<key>statelessCharacterValidation</key>
	<string>accessibleResourceBound</string>
	<key>usecaseAndWork</key>
	<string>iconStageBorder</string>
</dict>
</plist>
