<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableObserverMomentum</key>
	<string>projectCommandBound</string>
	<key>immediateRequestTension</key>
	<string>geometricCompositionDepth</string>
	<key>resultOutsideDecorator</key>
	<string>missionSinceChain</string>
	<key>smartEntropyColor</key>
	<string>serviceOfType</string>
</dict>
</plist>
