<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferVersusProcess</key>
	<string>mobileVariableDistance</string>
	<key>drawerOfFlyweight</key>
	<string>consultativeCompleterColor</string>
	<key>imperativeChapterColor</key>
	<string>completionOperationCount</string>
	<key>interfaceAtScope</key>
	<string>currentIconVisibility</string>
	<key>rectAlongProxy</key>
	<string>explicitRadiusBehavior</string>
	<key>textureFacadeAcceleration</key>
	<string>repositoryFormContrast</string>
	<key>widgetLayerEdge</key>
	<string>sizeContainInterpreter</string>
</dict>
</plist>
