<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasLevelTop</key>
	<string>progressbarLayerDepth</string>
	<key>challengeFormBorder</key>
	<string>petProxyPosition</string>
	<key>collectionContextInset</key>
	<string>captionViaMode</string>
	<key>explicitAppbarOrientation</key>
	<string>hashModeAlignment</string>
	<key>labelViaLayer</key>
	<string>particleTaskMargin</string>
	<key>roleBeyondMode</key>
	<string>tableVersusAdapter</string>
	<key>sliderForFunction</key>
	<string>robustStreamContrast</string>
	<key>transitionFromShape</key>
	<string>materialNodeContrast</string>
</dict>
</plist>
