<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAboutWork</key>
	<string>keySensorTag</string>
	<key>builderNearVar</key>
	<string>animatedcontainerJobShade</string>
	<key>labelPlatformDistance</key>
	<string>radiusViaTier</string>
	<key>protectedErrorInteraction</key>
	<string>taskBesideParameter</string>
	<key>routerKindContrast</key>
	<string>riverpodWorkOrientation</string>
	<key>stepOutsideEnvironment</key>
	<string>assetActivityBrightness</string>
	<key>subscriptionUntilSingleton</key>
	<string>lostWidgetTail</string>
</dict>
</plist>
