<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedAspectratioValidation</key>
	<string>capacitiesByFunction</string>
	<key>imperativeCoordinatorMomentum</key>
	<string>menuAdapterSkewx</string>
	<key>managerTierSkewy</key>
	<string>brushStyleForce</string>
	<key>musicStrategyInset</key>
	<string>statefulAlertForce</string>
	<key>reducerDuringPattern</key>
	<string>requiredAwaitDirection</string>
	<key>sizedboxAgainstJob</key>
	<string>permissiveStreamAlignment</string>
	<key>sustainableManagerSkewx</key>
	<string>boxshadowMethodLocation</string>
	<key>textfieldAroundFlyweight</key>
	<string>chartCycleBottom</string>
</dict>
</plist>
