<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnForActivity</key>
	<string>activeResourceVelocity</string>
	<key>concreteMenuDelay</key>
	<string>gemTempleDirection</string>
	<key>desktopSubscriptionRotation</key>
	<string>navigatorAroundKind</string>
	<key>oldUsecaseRight</key>
	<string>rowAroundForm</string>
	<key>rapidNavigatorStatus</key>
	<string>finalSizedboxBound</string>
	<key>toolStructureBorder</key>
	<string>singletonExceptPattern</string>
	<key>unactivatedCurveShape</key>
	<string>injectionAroundProcess</string>
</dict>
</plist>
