<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectLevelShade</key>
	<string>transitionStageFormat</string>
	<key>builderAsObserver</key>
	<string>multiServiceHue</string>
	<key>curveSystemRight</key>
	<string>workflowAboutForm</string>
	<key>equipmentPhaseCenter</key>
	<string>accessoryDespitePlatform</string>
	<key>groupBesideStructure</key>
	<string>customContainerAlignment</string>
	<key>nextConfigurationColor</key>
	<string>graphicVisitorPosition</string>
	<key>rectDuringProxy</key>
	<string>repositoryStageMargin</string>
	<key>scrollableConsumerDensity</key>
	<string>sizeFromVariable</string>
</dict>
</plist>
