<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseForState</key>
	<string>workflowAboutNumber</string>
	<key>configurationWithoutLevel</key>
	<string>compositionalScrollDensity</string>
	<key>discardedDescriptionPressure</key>
	<string>completionSystemDistance</string>
	<key>layoutVersusMode</key>
	<string>intuitiveRouteBrightness</string>
	<key>musicAdapterIndex</key>
	<string>reusableAssetState</string>
	<key>nodeKindFormat</key>
	<string>aspectOrBridge</string>
	<key>protocolKindInterval</key>
	<string>boxPlatformDistance</string>
	<key>synchronousSpriteShape</key>
	<string>transitionScopeCount</string>
	<key>zoneAmongWork</key>
	<string>euclideanCanvasBorder</string>
</dict>
</plist>
