<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAmongCommand</key>
	<string>configurationParamDirection</string>
	<key>difficultSliderPosition</key>
	<string>localRouteSize</string>
	<key>drawerTempleType</key>
	<string>concurrentSliderHue</string>
	<key>finalListviewForce</key>
	<string>stampDespitePhase</string>
	<key>inheritedMediaKind</key>
	<string>curveWorkSaturation</string>
	<key>stampDuringShape</key>
	<string>basicProtocolTint</string>
	<key>stateDecoratorTag</key>
	<string>protectedClipperResponse</string>
	<key>unactivatedButtonTheme</key>
	<string>extensionBridgeSaturation</string>
	<key>usecaseActivityVelocity</key>
	<string>providerVersusMemento</string>
	<key>viewObserverSize</key>
	<string>semanticResolverContrast</string>
</dict>
</plist>
