<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedButtonCenter</key>
	<string>switchAtState</string>
	<key>chapterAwayForm</key>
	<string>resourceAmongContext</string>
	<key>fusedTransitionSkewy</key>
	<string>transitionDespitePrototype</string>
	<key>keyHistogramOffset</key>
	<string>priorityJobRotation</string>
	<key>liteCapsuleSaturation</key>
	<string>effectByState</string>
	<key>movementValueCoord</key>
	<string>decorationOutsideComposite</string>
	<key>permanentRouteVelocity</key>
	<string>repositoryViaAdapter</string>
	<key>routeIncludeStructure</key>
	<string>storageAroundFacade</string>
	<key>storyboardUntilMethod</key>
	<string>labelSystemOpacity</string>
	<key>widgetFormBound</key>
	<string>sizeAdapterTop</string>
</dict>
</plist>
