<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationExceptLevel</key>
	<string>mainRemainderOrientation</string>
	<key>durationInBridge</key>
	<string>vectorVersusBridge</string>
	<key>elasticTaskSaturation</key>
	<string>vectorTempleAcceleration</string>
	<key>resolverLevelRotation</key>
	<string>methodAboutShape</string>
	<key>routeInsideInterpreter</key>
	<string>rectDuringPrototype</string>
	<key>stampFrameworkType</key>
	<string>containerInNumber</string>
	<key>unsortedErrorState</key>
	<string>declarativeCoordinatorBottom</string>
</dict>
</plist>
