<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistPerWork</key>
	<string>ephemeralControllerTop</string>
	<key>navigationMediatorHue</key>
	<string>subsequentConstraintMargin</string>
	<key>playbackStructureDirection</key>
	<string>elasticResolverStatus</string>
	<key>signStateLeft</key>
	<string>queryContainEnvironment</string>
</dict>
</plist>
