<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchInBridge</key>
	<string>menuStageType</string>
	<key>composableResultEdge</key>
	<string>explicitPaddingScale</string>
	<key>documentExceptPhase</key>
	<string>getxAtFramework</string>
	<key>intensityParamOffset</key>
	<string>hyperbolicNavigatorBottom</string>
	<key>interpolationActivitySaturation</key>
	<string>globalNodeShade</string>
	<key>lazyApertureAppearance</key>
	<string>nibAboutValue</string>
	<key>liteChallengeTop</key>
	<string>positionByInterpreter</string>
	<key>resultPrototypeBound</key>
	<string>techniqueInterpreterAlignment</string>
	<key>timerAndBridge</key>
	<string>binaryCompositeTension</string>
</dict>
</plist>
