<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerParamLocation</key>
	<string>futureNearTemple</string>
	<key>coordinatorMethodEdge</key>
	<string>priorCatalystType</string>
	<key>gridAroundFlyweight</key>
	<string>localTaskInset</string>
	<key>secondTickerOrigin</key>
	<string>exceptionCommandLocation</string>
	<key>statefulSignatureVisibility</key>
	<string>metadataLikeContext</string>
	<key>usedDecorationVisibility</key>
	<string>oldInstructionShade</string>
</dict>
</plist>
