<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocLikeFunction</key>
	<string>fixedStreamDelay</string>
	<key>borderPrototypeTheme</key>
	<string>reusableCommandDirection</string>
	<key>certificatePerEnvironment</key>
	<string>sortedCompletionCoord</string>
	<key>crudeSessionTag</key>
	<string>immediateLabelCount</string>
	<key>curveLevelLeft</key>
	<string>toolAndAction</string>
	<key>popupInterpreterColor</key>
	<string>disabledOptimizerState</string>
	<key>reductionUntilJob</key>
	<string>symbolFromFacade</string>
	<key>usecaseTierValidation</key>
	<string>litePointCenter</string>
</dict>
</plist>
