<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFormSaturation</key>
	<string>logPatternLeft</string>
	<key>positionWithoutLevel</key>
	<string>documentModeHue</string>
	<key>queueObserverRate</key>
	<string>profileAtDecorator</string>
	<key>spineLayerCount</key>
	<string>mutableChannelsOrigin</string>
	<key>transitionContainValue</key>
	<string>navigatorNumberTint</string>
</dict>
</plist>
