<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFactoryCenter</key>
	<string>sessionThanFunction</string>
	<key>activePlaybackStatus</key>
	<string>builderSingletonAlignment</string>
	<key>enabledZoneSkewx</key>
	<string>tableAlongKind</string>
	<key>geometricPlateInterval</key>
	<string>robustTaskMode</string>
	<key>resourceDuringBuffer</key>
	<string>symmetricSingletonDistance</string>
</dict>
</plist>
