<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonWithCycle</key>
	<string>resourceVarPadding</string>
	<key>injectionOutsideShape</key>
	<string>displayableLocalizationTension</string>
	<key>layoutUntilDecorator</key>
	<string>inkwellAwayPhase</string>
	<key>permanentPrecisionDuration</key>
	<string>stampChainName</string>
	<key>radiusJobPressure</key>
	<string>graphNearLevel</string>
	<key>semanticControllerFeedback</key>
	<string>gemActionType</string>
	<key>webAspectMargin</key>
	<string>deferredContainerBehavior</string>
</dict>
</plist>
