<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryStateFormat</key>
	<string>integerNumberTheme</string>
	<key>gridScopeLocation</key>
	<string>singletonAroundValue</string>
	<key>logScopeBottom</key>
	<string>substantialFutureInterval</string>
</dict>
</plist>
