<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAdapterScale</key>
	<string>buttonVisitorFrequency</string>
	<key>denseFactoryStatus</key>
	<string>interfaceLevelBehavior</string>
	<key>diffableContainerLeft</key>
	<string>animatedChallengeForce</string>
	<key>fusedObserverDirection</key>
	<string>richtextFormVisibility</string>
	<key>responseFormCenter</key>
	<string>anchorStateForce</string>
	<key>specifierAndSingleton</key>
	<string>columnInsideTask</string>
	<key>tangentValueVisible</key>
	<string>mediaqueryLayerMomentum</string>
</dict>
</plist>
