<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorSingletonOpacity</key>
	<string>stepAlongPlatform</string>
	<key>coordinatorInsideMediator</key>
	<string>navigationKindKind</string>
	<key>descriptionStageMomentum</key>
	<string>commonRequestDensity</string>
	<key>desktopWidgetOpacity</key>
	<string>streamForScope</string>
	<key>popupMediatorDuration</key>
	<string>memberStyleScale</string>
	<key>projectionNumberTail</key>
	<string>coordinatorMethodHue</string>
	<key>protectedGraphTransparency</key>
	<string>gemVariableMomentum</string>
	<key>sortedPromiseValidation</key>
	<string>activityAndParameter</string>
	<key>switchNearProxy</key>
	<string>previewActivityDepth</string>
	<key>transitionTempleState</key>
	<string>iterativeAlphaTop</string>
</dict>
</plist>
