<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMultiplicationShade</key>
	<string>boxTierCount</string>
	<key>allocatorCycleIndex</key>
	<string>controllerTierCenter</string>
	<key>buttonPhaseHead</key>
	<string>fragmentMementoMargin</string>
	<key>descriptionBufferOrigin</key>
	<string>firstPresenterMomentum</string>
	<key>discardedUsecaseBehavior</key>
	<string>documentOfActivity</string>
	<key>greatGroupRotation</key>
	<string>masterValueShade</string>
	<key>offsetSinceStyle</key>
	<string>pivotalRadiusContrast</string>
	<key>painterContainFacade</key>
	<string>specifyProfilePosition</string>
</dict>
</plist>
