<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOfPrototype</key>
	<string>reducerStateCoord</string>
	<key>certificateThanLayer</key>
	<string>usagePatternTail</string>
	<key>frameStateType</key>
	<string>iconModeBottom</string>
	<key>loopCycleSkewy</key>
	<string>reducerLevelInteraction</string>
	<key>lostContractionDepth</key>
	<string>descriptorParamTop</string>
	<key>mediaqueryOutsideBuffer</key>
	<string>controllerPatternInterval</string>
	<key>retainedPriorityFeedback</key>
	<string>priorRepositoryColor</string>
	<key>scrollableReductionColor</key>
	<string>indicatorMethodVisibility</string>
</dict>
</plist>
