<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAsFlyweight</key>
	<string>routeObserverDepth</string>
	<key>bufferParameterRotation</key>
	<string>presenterExceptBuffer</string>
	<key>gateDuringMemento</key>
	<string>tableDecoratorRight</string>
	<key>giftThroughEnvironment</key>
	<string>resolverOutsideMode</string>
	<key>graphDespiteFacade</key>
	<string>spineLikeMode</string>
	<key>heroFunctionTension</key>
	<string>lastEntityRate</string>
	<key>prismaticControllerShape</key>
	<string>tappableAccessoryVisibility</string>
	<key>scrollBesideLayer</key>
	<string>lastLogarithmTint</string>
	<key>singletonAlongEnvironment</key>
	<string>relationalProviderFrequency</string>
	<key>smallBlocTransparency</key>
	<string>reducerObserverName</string>
</dict>
</plist>
