<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGrayscaleRotation</key>
	<string>alertMediatorSpeed</string>
	<key>desktopGraphLocation</key>
	<string>specifyTabbarMargin</string>
	<key>explicitUsageOrientation</key>
	<string>overlayFlyweightSaturation</string>
	<key>fixedAllocatorDistance</key>
	<string>missedRadioOrigin</string>
	<key>grayscaleScopeSpeed</key>
	<string>isolateInterpreterValidation</string>
	<key>monsterStrategyContrast</key>
	<string>fusedSymbolOrigin</string>
	<key>oldCubeType</key>
	<string>sizedboxCycleLeft</string>
	<key>optionObserverMomentum</key>
	<string>heapVariableState</string>
	<key>rectDespiteTier</key>
	<string>prismaticPreviewValidation</string>
	<key>sequentialReducerVisible</key>
	<string>overlayPhaseRate</string>
</dict>
</plist>
