<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customNodeBrightness</key>
	<string>mainModelAlignment</string>
	<key>futureOutsidePrototype</key>
	<string>interfaceFlyweightInset</string>
	<key>multiplicationTempleFrequency</key>
	<string>intuitiveCommandDepth</string>
	<key>previewExceptWork</key>
	<string>durationInOperation</string>
	<key>protectedProviderBottom</key>
	<string>zoneSingletonKind</string>
	<key>resilientChannelInset</key>
	<string>themeInterpreterPosition</string>
	<key>scaleStyleBehavior</key>
	<string>singleFeatureDensity</string>
	<key>sharedEffectSpeed</key>
	<string>asynchronousPromiseVelocity</string>
</dict>
</plist>
