<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileExceptionSpeed</key>
	<string>transformerAtStructure</string>
	<key>chapterProcessDistance</key>
	<string>paddingFlyweightStyle</string>
	<key>deferredSkinFrequency</key>
	<string>characterVarTheme</string>
	<key>immediateAlignmentFeedback</key>
	<string>animatedcontainerStageStatus</string>
	<key>resultLevelStyle</key>
	<string>sliderDecoratorAppearance</string>
	<key>tappableCompleterSize</key>
	<string>basicNodeCount</string>
	<key>temporaryBehaviorLocation</key>
	<string>titleStrategyOffset</string>
	<key>transformerAboutTier</key>
	<string>rectCycleDepth</string>
</dict>
</plist>
