<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileMonsterFormat</key>
	<string>arithmeticLayerKind</string>
	<key>chartThroughMethod</key>
	<string>effectActivityBound</string>
	<key>checklistAdapterBound</key>
	<string>delicateRectOrigin</string>
	<key>declarativeTopicVisible</key>
	<string>popupParamRate</string>
	<key>decorationAwayFacade</key>
	<string>convolutionStrategyTop</string>
	<key>independentStoreOffset</key>
	<string>memberWithoutBridge</string>
	<key>integerBufferBound</key>
	<string>completionVersusFacade</string>
	<key>popupJobVisible</key>
	<string>granularSliderResponse</string>
	<key>sizeAwayTier</key>
	<string>checklistStyleFlags</string>
	<key>tickerLevelCenter</key>
	<string>tweenJobRotation</string>
</dict>
</plist>
