<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteOffsetCount</key>
	<string>displayableQueryMode</string>
	<key>dialogsStrategyOrigin</key>
	<string>immediateAccessoryLocation</string>
	<key>localStateRotation</key>
	<string>decorationFormBound</string>
	<key>respectiveGramTop</key>
	<string>primaryNormDuration</string>
	<key>robustSubscriptionDepth</key>
	<string>gateWorkType</string>
</dict>
</plist>
