<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iconAtLevel</key>
	<string>vectorSinceForm</string>
	<key>materialFactoryInteraction</key>
	<string>temporaryScreenDistance</string>
	<key>playbackParameterVisibility</key>
	<string>constLogarithmBehavior</string>
	<key>timerViaMode</key>
	<string>fragmentAgainstStructure</string>
	<key>zoneSystemPosition</key>
	<string>shaderBesideParam</string>
</dict>
</plist>
