<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAboutContext</key>
	<string>skinAtCycle</string>
	<key>grainCompositeLocation</key>
	<string>completerActivityInterval</string>
	<key>publicMonsterBottom</key>
	<string>beginnerCollectionName</string>
	<key>roleFrameworkTail</key>
	<string>activeChapterFrequency</string>
	<key>rowPerInterpreter</key>
	<string>accordionStatelessTail</string>
	<key>statefulSinceWork</key>
	<string>movementObserverMomentum</string>
	<key>staticNormPressure</key>
	<string>tensorPetOffset</string>
	<key>themeOutsideJob</key>
	<string>asynchronousPositionSkewy</string>
</dict>
</plist>
