<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativePositionRotation</key>
	<string>granularFragmentAlignment</string>
	<key>coordinatorLevelSkewx</key>
	<string>hierarchicalFragmentSize</string>
	<key>descriptorFacadeHead</key>
	<string>standaloneExponentAcceleration</string>
	<key>extensionVersusStage</key>
	<string>coordinatorOfState</string>
	<key>modelTypeForce</key>
	<string>loopVersusParam</string>
	<key>viewContainState</key>
	<string>tabviewOutsideProxy</string>
	<key>widgetFacadeVisibility</key>
	<string>managerAmongFunction</string>
</dict>
</plist>
