<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateBeyondJob</key>
	<string>nextHandlerFeedback</string>
	<key>disabledMonsterAcceleration</key>
	<string>cartesianWidgetDirection</string>
	<key>iconIncludeAdapter</key>
	<string>marginAlongVariable</string>
	<key>memberAtJob</key>
	<string>permanentFeatureTag</string>
	<key>musicBesideMode</key>
	<string>cubeThanVariable</string>
</dict>
</plist>
