<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicColumnCount</key>
	<string>arithmeticCapacitiesPadding</string>
	<key>convolutionForPhase</key>
	<string>interactiveStackTension</string>
	<key>easyReducerBound</key>
	<string>logarithmInComposite</string>
	<key>eventWithSingleton</key>
	<string>navigatorWorkTail</string>
	<key>listviewAdapterState</key>
	<string>subscriptionValueTint</string>
	<key>newestSpotSkewy</key>
	<string>batchEnvironmentInteraction</string>
	<key>popupPlatformKind</key>
	<string>elasticSlashState</string>
	<key>relationalSensorVisible</key>
	<string>tableAgainstParameter</string>
	<key>resizableSubscriptionShape</key>
	<string>channelViaFramework</string>
</dict>
</plist>
