<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionSingletonShade</key>
	<string>unaryShapeColor</string>
	<key>dropdownbuttonFlyweightRight</key>
	<string>tickerDespiteActivity</string>
	<key>labelPhaseKind</key>
	<string>curveInterpreterBound</string>
	<key>musicMediatorBottom</key>
	<string>radiusTempleBrightness</string>
	<key>providerTypeFlags</key>
	<string>greatViewMode</string>
	<key>reducerSinceFunction</key>
	<string>flexActionSkewx</string>
	<key>sharedAllocatorBrightness</key>
	<string>textLevelType</string>
	<key>toolCommandInteraction</key>
	<string>futureFacadeBrightness</string>
</dict>
</plist>
