<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorAtState</key>
	<string>effectSinceForm</string>
	<key>asyncCertificateSkewy</key>
	<string>containerSinceKind</string>
	<key>asynchronousSineRotation</key>
	<string>inactiveNavigatorLocation</string>
	<key>binaryAroundCommand</key>
	<string>basicStreamTag</string>
	<key>directlyLossDuration</key>
	<string>logarithmBufferSkewy</string>
	<key>lostCompleterAppearance</key>
	<string>customStatelessAcceleration</string>
	<key>resilientTransitionPressure</key>
	<string>singleOptimizerMargin</string>
	<key>smartResolverDistance</key>
	<string>singletonStrategyHead</string>
	<key>standaloneThreadStatus</key>
	<string>stateUntilDecorator</string>
</dict>
</plist>
