<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAmongPlatform</key>
	<string>concurrentTechniqueSpeed</string>
	<key>awaitJobTint</key>
	<string>composableColumnCoord</string>
	<key>builderBridgeDelay</key>
	<string>callbackBridgeSpacing</string>
	<key>consultativeSwiftVelocity</key>
	<string>handlerPhasePadding</string>
	<key>easyDescriptorRotation</key>
	<string>tweenAtMemento</string>
	<key>lostWorkflowLocation</key>
	<string>boxshadowPerLevel</string>
	<key>responseAlongValue</key>
	<string>viewScopeStatus</string>
</dict>
</plist>
