<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNearNumber</key>
	<string>scaffoldTierCoord</string>
	<key>durationInFacade</key>
	<string>optionPhaseKind</string>
	<key>interactorDuringTask</key>
	<string>customProjectionType</string>
	<key>queueThanEnvironment</key>
	<string>operationLikeCycle</string>
</dict>
</plist>
