<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncUntilStrategy</key>
	<string>observerFunctionSkewx</string>
	<key>comprehensiveConfigurationValidation</key>
	<string>allocatorInsideSingleton</string>
	<key>easyInterfaceContrast</key>
	<string>asynchronousPrecisionBottom</string>
	<key>eventSinceTask</key>
	<string>sliderShapeShade</string>
	<key>futureFacadeOpacity</key>
	<string>dropdownbuttonAndMemento</string>
	<key>lazyThemeSize</key>
	<string>durationSinceFunction</string>
	<key>oldNormName</key>
	<string>constraintShapeDuration</string>
	<key>statelessModalCoord</key>
	<string>toolOutsideWork</string>
</dict>
</plist>
