<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredViewSaturation</key>
	<string>sliderAtPhase</string>
	<key>documentOrVisitor</key>
	<string>baselineFromProxy</string>
	<key>featureNumberScale</key>
	<string>symbolIncludeBuffer</string>
	<key>reusableRouterOrientation</key>
	<string>checklistViaTier</string>
	<key>synchronousGrainRight</key>
	<string>inactiveContainerTint</string>
	<key>transitionAdapterKind</key>
	<string>robustSensorScale</string>
</dict>
</plist>
