<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationWorkVisible</key>
	<string>lazyStoreCenter</string>
	<key>durationParameterPosition</key>
	<string>standaloneSliderPressure</string>
	<key>heroVariableShade</key>
	<string>keyIntensityPressure</string>
	<key>paddingCycleBound</key>
	<string>standaloneObserverCenter</string>
	<key>protectedCursorRate</key>
	<string>firstDecorationBehavior</string>
	<key>sequentialStackValidation</key>
	<string>entityBufferLocation</string>
	<key>subscriptionPatternOrientation</key>
	<string>taskBridgeRight</string>
	<key>viewEnvironmentFeedback</key>
	<string>injectionAlongBuffer</string>
	<key>workflowWithoutVisitor</key>
	<string>segueAsState</string>
</dict>
</plist>
