<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicEntropyMargin</key>
	<string>navigatorNumberBound</string>
	<key>inheritedProjectionStatus</key>
	<string>cubitPrototypeHead</string>
	<key>prismaticUsecaseAppearance</key>
	<string>certificateStrategyResponse</string>
	<key>routeAwayStructure</key>
	<string>listviewOutsideProxy</string>
	<key>significantFrameTransparency</key>
	<string>scrollThroughContext</string>
	<key>sinkInsideParameter</key>
	<string>inactiveRichtextDistance</string>
	<key>swiftForTask</key>
	<string>optimizerBufferStatus</string>
	<key>tableStageShade</key>
	<string>lostExceptionLocation</string>
</dict>
</plist>
