<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGridviewLeft</key>
	<string>mutableRectOpacity</string>
	<key>callbackAndState</key>
	<string>independentRouteStyle</string>
	<key>desktopNibDepth</key>
	<string>serviceByFacade</string>
	<key>featureAtStage</key>
	<string>methodCompositeFeedback</string>
	<key>protectedSubpixelInterval</key>
	<string>backwardUsecaseBottom</string>
	<key>scaleAdapterTag</key>
	<string>beginnerModelAcceleration</string>
	<key>spriteInsideLayer</key>
	<string>normWorkStatus</string>
</dict>
</plist>
