<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelNearPattern</key>
	<string>singletonUntilActivity</string>
	<key>channelWithFramework</key>
	<string>mediaFlyweightFrequency</string>
	<key>criticalProfileEdge</key>
	<string>textureExceptInterpreter</string>
	<key>flexibleArithmeticScale</key>
	<string>granularMediaMomentum</string>
	<key>greatRequestTension</key>
	<string>captionDespiteVar</string>
	<key>histogramFunctionIndex</key>
	<string>taskAwayParam</string>
	<key>slashBeyondBuffer</key>
	<string>sinkSinceChain</string>
</dict>
</plist>
