<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBoxshadowHead</key>
	<string>buttonProxyScale</string>
	<key>builderFrameworkAlignment</key>
	<string>allocatorFunctionRate</string>
	<key>crudeFlexBound</key>
	<string>groupWithShape</string>
	<key>diversifiedDescriptionOrigin</key>
	<string>gestureWorkHue</string>
	<key>overlayForScope</key>
	<string>layerPlatformVelocity</string>
	<key>riverpodContainBridge</key>
	<string>relationalShaderRotation</string>
	<key>substantialGrayscaleColor</key>
	<string>hyperbolicAppbarDistance</string>
	<key>unactivatedSpineInset</key>
	<string>staticMapColor</string>
</dict>
</plist>
