<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyInsideTemple</key>
	<string>grainMementoTail</string>
	<key>materialListenerBottom</key>
	<string>callbackMethodMargin</string>
	<key>navigatorAmongMemento</key>
	<string>histogramOperationLeft</string>
	<key>offsetWithDecorator</key>
	<string>precisionUntilFramework</string>
	<key>providerVisitorFormat</key>
	<string>custompaintDespiteState</string>
	<key>scrollableCompleterRight</key>
	<string>normalRadiusCoord</string>
</dict>
</plist>
