<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertWithoutSystem</key>
	<string>animatedIconOffset</string>
	<key>convolutionStageCenter</key>
	<string>paddingSincePhase</string>
	<key>currentCurvePosition</key>
	<string>builderInterpreterRight</string>
	<key>descriptionVersusKind</key>
	<string>visibleEqualizationLeft</string>
	<key>dropdownbuttonFunctionTension</key>
	<string>batchMementoDepth</string>
	<key>durationPhaseBehavior</key>
	<string>segueActivityRight</string>
	<key>managerInterpreterHue</key>
	<string>capacitiesWithLayer</string>
	<key>sceneIncludeStrategy</key>
	<string>themeDuringPhase</string>
	<key>subsequentSwitchTransparency</key>
	<string>marginWithPhase</string>
</dict>
</plist>
