<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoModalForce</key>
	<string>titleFlyweightCoord</string>
	<key>blocFormTransparency</key>
	<string>remainderValueContrast</string>
	<key>commandAsPrototype</key>
	<string>interactiveStateShade</string>
	<key>heroObserverTail</key>
	<string>effectNearFlyweight</string>
	<key>intuitiveRowState</key>
	<string>requiredLabelPressure</string>
	<key>listenerNearNumber</key>
	<string>responsiveStepValidation</string>
	<key>repositoryInterpreterTail</key>
	<string>compositionalServiceSpacing</string>
	<key>respectiveStepOrigin</key>
	<string>consultativeTitleStyle</string>
	<key>sensorOfKind</key>
	<string>mediocreButtonInset</string>
	<key>storyboardUntilLevel</key>
	<string>viewTemplePressure</string>
</dict>
</plist>
