<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFrameworkSpeed</key>
	<string>injectionInVar</string>
	<key>backwardGroupTint</key>
	<string>diversifiedSubscriptionRate</string>
	<key>bufferPhaseShade</key>
	<string>standaloneGrainDirection</string>
	<key>channelActivityHead</key>
	<string>rowInterpreterInset</string>
	<key>dependencyAtPrototype</key>
	<string>transformerContextBound</string>
	<key>instructionUntilAdapter</key>
	<string>operationFlyweightBorder</string>
	<key>providerAsPattern</key>
	<string>listenerWithSingleton</string>
	<key>routerAndStyle</key>
	<string>responseAwaySystem</string>
	<key>substantialStoreDirection</key>
	<string>mediumGramSize</string>
</dict>
</plist>
