<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientLikeKind</key>
	<string>localizationPerComposite</string>
	<key>modulusFromComposite</key>
	<string>shaderNearStage</string>
	<key>storeStyleSpeed</key>
	<string>histogramScopeLocation</string>
	<key>switchAlongInterpreter</key>
	<string>metadataExceptOperation</string>
</dict>
</plist>
