<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerProxyForce</key>
	<string>overlayLikeState</string>
	<key>functionalCursorTail</key>
	<string>mediaVersusTemple</string>
	<key>nodeByTier</key>
	<string>persistentBufferHue</string>
	<key>overlayStyleSaturation</key>
	<string>concurrentRichtextFrequency</string>
	<key>parallelMobxSkewy</key>
	<string>streamCycleMomentum</string>
	<key>popupSinceStage</key>
	<string>delegateFromProcess</string>
	<key>similarMasterMomentum</key>
	<string>handlerObserverMomentum</string>
	<key>spotContextResponse</key>
	<string>cycleMethodVisible</string>
	<key>textNearLevel</key>
	<string>mediaqueryDecoratorMargin</string>
	<key>usecaseContainLayer</key>
	<string>gramThanStructure</string>
</dict>
</plist>
