<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAboutFacade</key>
	<string>criticalStackForce</string>
	<key>consumerByCommand</key>
	<string>interactiveSizePosition</string>
	<key>denseGateAcceleration</key>
	<string>statelessEnvironmentEdge</string>
	<key>intermediateQuerySpacing</key>
	<string>segueContainProcess</string>
	<key>layerProcessVisibility</key>
	<string>stackTierOffset</string>
	<key>queueKindShade</key>
	<string>logOrFramework</string>
	<key>requestStructureInset</key>
	<string>queueNumberBottom</string>
	<key>responsiveSlashInset</key>
	<string>functionalShaderSpeed</string>
	<key>sessionOrNumber</key>
	<string>routeLevelBrightness</string>
</dict>
</plist>
