<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDuringOperation</key>
	<string>rectUntilFunction</string>
	<key>delegatePrototypeTransparency</key>
	<string>crudeTimerSaturation</string>
	<key>intuitiveCallbackTop</key>
	<string>staticQueueOrientation</string>
	<key>missedExpandedBottom</key>
	<string>blocAboutMemento</string>
	<key>projectOfValue</key>
	<string>diffableMetadataTag</string>
	<key>sharedProjectionAlignment</key>
	<string>responsivePlateDistance</string>
	<key>utilPrototypeSkewx</key>
	<string>visibleMultiplicationLocation</string>
</dict>
</plist>
