<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletWithoutSingleton</key>
	<string>scaleAsMediator</string>
	<key>chartPerPrototype</key>
	<string>projectStyleBrightness</string>
	<key>configurationInPlatform</key>
	<string>asynchronousBitrateShape</string>
	<key>constraintStyleLocation</key>
	<string>referenceAboutScope</string>
	<key>diversifiedTextTint</key>
	<string>titleAwayVar</string>
	<key>immutableCacheOffset</key>
	<string>managerAndTier</string>
	<key>queueOfPlatform</key>
	<string>parallelEntityEdge</string>
	<key>transformerInsideNumber</key>
	<string>crudePositionDepth</string>
	<key>transitionAndStage</key>
	<string>topicOrFlyweight</string>
</dict>
</plist>
