<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxInsidePlatform</key>
	<string>switchPatternOpacity</string>
	<key>cursorLikeBuffer</key>
	<string>metadataTempleTint</string>
	<key>localIsolateDelay</key>
	<string>titleCycleLocation</string>
	<key>sceneProcessMomentum</key>
	<string>operationScopeRight</string>
	<key>seamlessSampleColor</key>
	<string>mobileCardRight</string>
	<key>techniqueOutsideType</key>
	<string>cubeMethodVelocity</string>
</dict>
</plist>
