<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedOffsetSpeed</key>
	<string>coordinatorTaskRight</string>
	<key>bitrateBeyondTemple</key>
	<string>transformerStrategySize</string>
	<key>frameAroundParameter</key>
	<string>responseWorkVelocity</string>
	<key>histogramMethodDistance</key>
	<string>layerAgainstLevel</string>
	<key>offsetInterpreterLeft</key>
	<string>taskFromInterpreter</string>
	<key>previewInMemento</key>
	<string>radioJobFormat</string>
	<key>prismaticAlignmentDensity</key>
	<string>pointChainName</string>
	<key>tweenContainProxy</key>
	<string>completerVisitorTension</string>
	<key>typicalViewAppearance</key>
	<string>robustCapacitiesVelocity</string>
</dict>
</plist>
