<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleDecoratorStyle</key>
	<string>rowNearParam</string>
	<key>concreteLogEdge</key>
	<string>heroBridgeFeedback</string>
	<key>configurationAlongLayer</key>
	<string>expandedAwayPattern</string>
	<key>eventInterpreterDensity</key>
	<string>instructionAdapterTop</string>
	<key>isolateAmongType</key>
	<string>activatedSizedboxInterval</string>
	<key>serviceViaOperation</key>
	<string>nativeLayoutInteraction</string>
	<key>uniqueContainerContrast</key>
	<string>statefulPerAdapter</string>
</dict>
</plist>
