<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteKernelMargin</key>
	<string>basicAlphaTop</string>
	<key>largeExpandedTag</key>
	<string>grayscaleAndObserver</string>
	<key>normalMonsterRight</key>
	<string>precisionFromAdapter</string>
	<key>reactiveLoopRotation</key>
	<string>reactiveSceneValidation</string>
	<key>statefulByTemple</key>
	<string>constraintInState</string>
	<key>uniquePositionAppearance</key>
	<string>asyncPlatformSpacing</string>
</dict>
</plist>
