<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerLikeAction</key>
	<string>heroViaComposite</string>
	<key>eventPerParameter</key>
	<string>timerInsideSystem</string>
	<key>futureCompositeInterval</key>
	<string>tensorTechniqueRight</string>
	<key>geometricProgressbarHead</key>
	<string>comprehensivePreviewRotation</string>
	<key>offsetAboutPlatform</key>
	<string>criticalShaderLeft</string>
	<key>stepSingletonLocation</key>
	<string>catalystMediatorTint</string>
	<key>stepViaFlyweight</key>
	<string>multiCompletionAcceleration</string>
	<key>sustainableBufferBehavior</key>
	<string>layerJobRotation</string>
</dict>
</plist>
