<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentContextSaturation</key>
	<string>constraintParamDensity</string>
	<key>fixedStateInteraction</key>
	<string>alphaContainContext</string>
	<key>gemVarDuration</key>
	<string>immutableLocalizationColor</string>
	<key>intensityStyleSaturation</key>
	<string>metadataProcessType</string>
	<key>keyUtilTop</key>
	<string>gramFacadeVisible</string>
</dict>
</plist>
