<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFlyweightTransparency</key>
	<string>exceptionBufferLocation</string>
	<key>callbackMethodAlignment</key>
	<string>mobileChartInterval</string>
	<key>giftDecoratorBound</key>
	<string>frameActionTop</string>
	<key>intermediateEntityFormat</key>
	<string>specifyFactoryVisible</string>
	<key>riverpodWorkInteraction</key>
	<string>protocolViaJob</string>
	<key>routeStageResponse</key>
	<string>specifierVisitorTail</string>
	<key>textureSingletonDelay</key>
	<string>sophisticatedTabbarPressure</string>
</dict>
</plist>
