<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalDurationHead</key>
	<string>builderBesideLayer</string>
	<key>elasticLabelAppearance</key>
	<string>widgetStateOrientation</string>
	<key>similarCurveFeedback</key>
	<string>anchorLikeDecorator</string>
	<key>statefulTweenSkewx</key>
	<string>queueActivityPressure</string>
	<key>switchProcessTransparency</key>
	<string>kernelAmongTemple</string>
	<key>textMediatorAlignment</key>
	<string>certificateAroundPrototype</string>
	<key>threadPrototypeKind</key>
	<string>tableLikeBuffer</string>
</dict>
</plist>
