<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAboutValue</key>
	<string>tweenValueCoord</string>
	<key>repositoryContextDistance</key>
	<string>protocolStrategyVelocity</string>
	<key>tabviewNearDecorator</key>
	<string>oldBufferInteraction</string>
	<key>vectorThanMode</key>
	<string>singleApertureOffset</string>
</dict>
</plist>
