<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInterpreterTail</key>
	<string>nextAxisTheme</string>
	<key>concreteAllocatorValidation</key>
	<string>gridviewContainSystem</string>
	<key>delicateExceptionSize</key>
	<string>navigationVersusVariable</string>
	<key>directlyTickerType</key>
	<string>convolutionChainFeedback</string>
	<key>expandedOutsideStyle</key>
	<string>delegateOrProcess</string>
	<key>playbackThanKind</key>
	<string>inactiveActionInset</string>
	<key>queueWorkRight</key>
	<string>builderValueVelocity</string>
	<key>remainderAlongFlyweight</key>
	<string>liteMasterInterval</string>
	<key>sceneVersusPhase</key>
	<string>actionThroughMediator</string>
	<key>topicAboutType</key>
	<string>backwardResolverPosition</string>
</dict>
</plist>
