<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioOfPhase</key>
	<string>expandedBesideCommand</string>
	<key>composableSwitchLeft</key>
	<string>firstDecorationSpeed</string>
	<key>configurationStageFormat</key>
	<string>mapPhaseName</string>
	<key>disparateBufferLocation</key>
	<string>petPlatformPosition</string>
	<key>navigationScopeShade</key>
	<string>aspectEnvironmentKind</string>
	<key>particleAndObserver</key>
	<string>dropdownbuttonTempleTag</string>
	<key>reducerStrategyName</key>
	<string>uniformSessionEdge</string>
	<key>sampleChainFeedback</key>
	<string>graphSystemOffset</string>
	<key>streamTierName</key>
	<string>layerUntilLevel</string>
</dict>
</plist>
