<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedThreadCenter</key>
	<string>skirtVariablePadding</string>
	<key>globalScaffoldFlags</key>
	<string>scrollableGrayscaleTheme</string>
	<key>navigationParamVelocity</key>
	<string>monsterWithoutKind</string>
	<key>sinkPlatformMomentum</key>
	<string>lostCurveTransparency</string>
	<key>widgetOperationShade</key>
	<string>injectionOfWork</string>
</dict>
</plist>
