<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicStatefulSpeed</key>
	<string>staticSwitchTint</string>
	<key>capsulePlatformBottom</key>
	<string>capsuleStylePosition</string>
	<key>cosineNumberTint</key>
	<string>paddingInsideParam</string>
	<key>descriptionNumberOrientation</key>
	<string>matrixNumberDepth</string>
	<key>desktopGradientDelay</key>
	<string>greatResourceTheme</string>
	<key>imperativeLocalizationResponse</key>
	<string>largeIsolateInteraction</string>
</dict>
</plist>
