<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedFrameSkewy</key>
	<string>coordinatorAgainstComposite</string>
	<key>baseFunctionAlignment</key>
	<string>constraintParameterColor</string>
	<key>builderPerAction</key>
	<string>momentumPlatformRate</string>
	<key>cardVarForce</key>
	<string>dependencyFromWork</string>
	<key>controllerSinceTask</key>
	<string>staticSineSpeed</string>
	<key>intensityBesideTier</key>
	<string>isolateFromProxy</string>
	<key>missedStoreStyle</key>
	<string>requestForState</string>
	<key>nativeFutureIndex</key>
	<string>sequentialAspectOffset</string>
	<key>observerDuringCommand</key>
	<string>elasticEffectShade</string>
	<key>uniformAnchorFeedback</key>
	<string>secondBorderOffset</string>
</dict>
</plist>
