<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticRowTail</key>
	<string>explicitCubitCoord</string>
	<key>assetInCycle</key>
	<string>layoutAwayLevel</string>
	<key>builderAtLevel</key>
	<string>alphaAboutLevel</string>
	<key>mediaAwayScope</key>
	<string>finalReducerBottom</string>
	<key>mediaqueryParamDistance</key>
	<string>segmentPlatformTag</string>
	<key>optimizerFormBottom</key>
	<string>capacitiesEnvironmentSize</string>
	<key>permanentExpandedSaturation</key>
	<string>tabbarAwayMethod</string>
	<key>rectContainMemento</key>
	<string>cartesianRadiusVelocity</string>
	<key>scrollableSubpixelLocation</key>
	<string>overlayBesideActivity</string>
	<key>storeTypeRight</key>
	<string>adaptiveAnimationRotation</string>
</dict>
</plist>
