<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticRadiusBorder</key>
	<string>controllerDecoratorColor</string>
	<key>exponentDuringProcess</key>
	<string>nextBehaviorBorder</string>
	<key>interactiveGetxBorder</key>
	<string>dedicatedCapacitiesContrast</string>
	<key>methodInsideVariable</key>
	<string>viewAroundProxy</string>
	<key>parallelOffsetInset</key>
	<string>dependencyExceptVariable</string>
	<key>primaryZoneHue</key>
	<string>optionMediatorMomentum</string>
	<key>respectiveModalShade</key>
	<string>matrixPatternRate</string>
	<key>substantialMatrixPosition</key>
	<string>descriptorLevelPosition</string>
	<key>widgetDecoratorScale</key>
	<string>screenDuringForm</string>
</dict>
</plist>
