<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCatalystCount</key>
	<string>chartEnvironmentEdge</string>
	<key>controllerInsideStage</key>
	<string>tweenFormVisibility</string>
	<key>flexibleTextInteraction</key>
	<string>sliderFunctionDensity</string>
	<key>prevRepositoryIndex</key>
	<string>spriteOutsideTemple</string>
	<key>stateStageLocation</key>
	<string>responsiveExpandedAlignment</string>
	<key>textureScopeRight</key>
	<string>chapterPerCycle</string>
	<key>transitionLevelKind</key>
	<string>utilParameterTension</string>
</dict>
</plist>
