<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCompletionRotation</key>
	<string>captionBesideComposite</string>
	<key>nibFromValue</key>
	<string>pageviewParamRate</string>
	<key>notificationAndContext</key>
	<string>nextChannelsOrientation</string>
	<key>originalGroupOffset</key>
	<string>temporaryFactoryCount</string>
	<key>particleFacadeTag</key>
	<string>sensorOrFunction</string>
	<key>resolverDespiteScope</key>
	<string>anchorSinceSystem</string>
</dict>
</plist>
