<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRouterScale</key>
	<string>animationLevelOrientation</string>
	<key>binaryCommandCenter</key>
	<string>loopAgainstPlatform</string>
	<key>borderJobInterval</key>
	<string>unaryInTask</string>
	<key>ephemeralTickerTransparency</key>
	<string>layoutMediatorCenter</string>
	<key>exceptionAndTier</key>
	<string>offsetStageBehavior</string>
	<key>navigationThroughTemple</key>
	<string>sizeFunctionDirection</string>
	<key>statefulColumnBrightness</key>
	<string>cardWithFramework</string>
	<key>staticCallbackInteraction</key>
	<string>nextSegmentFormat</string>
	<key>tangentForChain</key>
	<string>statefulBuilderBound</string>
</dict>
</plist>
