<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSizeBehavior</key>
	<string>declarativeCosineKind</string>
	<key>durationCompositeTint</key>
	<string>errorPatternType</string>
	<key>finalGestureRate</key>
	<string>seamlessToolScale</string>
	<key>mobileShapeFrequency</key>
	<string>remainderJobTop</string>
	<key>queueProxyVisible</key>
	<string>consultativeCacheDelay</string>
	<key>serviceAlongWork</key>
	<string>graphicBridgeMode</string>
</dict>
</plist>
