<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisPlatformOrigin</key>
	<string>alertPrototypeEdge</string>
	<key>commandVisitorPressure</key>
	<string>desktopMarginState</string>
	<key>cubitMementoTransparency</key>
	<string>permanentFactoryPosition</string>
	<key>customFactoryScale</key>
	<string>kernelStructureSpacing</string>
	<key>difficultClipperStatus</key>
	<string>declarativeErrorState</string>
	<key>errorAdapterInterval</key>
	<string>spriteWithStage</string>
	<key>rowTierTail</key>
	<string>sinkActionMode</string>
	<key>singletonUntilVariable</key>
	<string>gridviewWithoutStyle</string>
	<key>typicalLabelFormat</key>
	<string>logFromPattern</string>
	<key>vectorViaStage</key>
	<string>inactiveAlertAlignment</string>
</dict>
</plist>
