<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTransformerResponse</key>
	<string>accordionReducerForce</string>
	<key>delicateDelegateForce</key>
	<string>custompaintAroundCycle</string>
	<key>desktopUsecaseContrast</key>
	<string>behaviorFromStrategy</string>
	<key>signatureOutsideJob</key>
	<string>autoEqualizationStyle</string>
	<key>transitionViaMediator</key>
	<string>sizeVersusParameter</string>
</dict>
</plist>
