<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionTaskShape</key>
	<string>resizableImageDistance</string>
	<key>currentRepositoryResponse</key>
	<string>signatureStyleEdge</string>
	<key>dedicatedActionTag</key>
	<string>tweenInsideDecorator</string>
	<key>semanticRequestDelay</key>
	<string>unaryJobStyle</string>
	<key>sinkDecoratorPosition</key>
	<string>navigatorAndJob</string>
</dict>
</plist>
