<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxCommandDuration</key>
	<string>dependencyDuringChain</string>
	<key>customConfigurationHead</key>
	<string>directlyDropdownbuttonStyle</string>
	<key>customizedStateMomentum</key>
	<string>routeSinceEnvironment</string>
	<key>routeOfMode</key>
	<string>firstCapsuleInset</string>
	<key>widgetAmongBuffer</key>
	<string>commonProjectBehavior</string>
</dict>
</plist>
