<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePrecisionCoord</key>
	<string>apertureForMode</string>
	<key>allocatorContainShape</key>
	<string>protectedTaskOpacity</string>
	<key>contractionVarResponse</key>
	<string>typicalOptimizerSize</string>
	<key>imageBesideComposite</key>
	<string>consumerLevelRight</string>
	<key>keyGetxLocation</key>
	<string>accessoryThroughSystem</string>
	<key>routeMediatorInteraction</key>
	<string>cubeOfVisitor</string>
	<key>sustainableOptionInset</key>
	<string>fixedToolBottom</string>
	<key>unaryThanContext</key>
	<string>positionExceptEnvironment</string>
	<key>viewWithType</key>
	<string>commandBeyondStrategy</string>
	<key>webConfigurationColor</key>
	<string>painterInterpreterPosition</string>
</dict>
</plist>
