<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBuilderForce</key>
	<string>requestVariableHue</string>
	<key>displayableDrawerOrigin</key>
	<string>concurrentExtensionTop</string>
	<key>factoryChainAcceleration</key>
	<string>layerSingletonLeft</string>
	<key>hashObserverTint</key>
	<string>metadataPerInterpreter</string>
	<key>hyperbolicSensorSaturation</key>
	<string>metadataSinceShape</string>
	<key>otherProjectContrast</key>
	<string>requestVersusVariable</string>
	<key>robustBlocStatus</key>
	<string>behaviorBridgePadding</string>
	<key>zoneNearKind</key>
	<string>subpixelInsideChain</string>
</dict>
</plist>
