<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteGradientMargin</key>
	<string>scrollTaskAcceleration</string>
	<key>deferredSinkAppearance</key>
	<string>resilientDependencyInteraction</string>
	<key>descriptionAboutInterpreter</key>
	<string>drawerAdapterFeedback</string>
	<key>dimensionBesideLayer</key>
	<string>futureLayerStatus</string>
	<key>immutableViewPosition</key>
	<string>channelFormOrientation</string>
</dict>
</plist>
