<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOutsideNumber</key>
	<string>rowTempleScale</string>
	<key>gramNearVisitor</key>
	<string>publicAspectratioDuration</string>
	<key>rapidCubitTag</key>
	<string>animatedGridMode</string>
</dict>
</plist>
