<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioProxyBound</key>
	<string>descriptionAmongForm</string>
	<key>elasticBoxshadowSpeed</key>
	<string>particleUntilSystem</string>
	<key>futureBeyondVariable</key>
	<string>instructionAmongAction</string>
	<key>interactiveAssetDensity</key>
	<string>finalEffectSkewx</string>
	<key>menuBridgeLeft</key>
	<string>metadataInterpreterTint</string>
	<key>taskStrategyType</key>
	<string>permissiveListenerRotation</string>
	<key>textStyleLocation</key>
	<string>serviceJobFeedback</string>
</dict>
</plist>
