<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandContainPattern</key>
	<string>unsortedControllerBrightness</string>
	<key>eventTaskTail</key>
	<string>behaviorByMode</string>
	<key>exponentWithStructure</key>
	<string>lossActionOpacity</string>
	<key>retainedRouterColor</key>
	<string>decorationBufferAlignment</string>
	<key>streamAwayProcess</key>
	<string>previewVarHue</string>
	<key>subtleContainerPosition</key>
	<string>signatureThroughLevel</string>
	<key>swiftFacadeSpeed</key>
	<string>immutableDescriptionStatus</string>
</dict>
</plist>
