<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderSingletonFormat</key>
	<string>relationalNotificationDuration</string>
	<key>curveParamDensity</key>
	<string>gestureStagePadding</string>
	<key>declarativeNormSize</key>
	<string>cellVersusType</string>
	<key>inheritedAnchorFlags</key>
	<string>sophisticatedEqualizationVisible</string>
	<key>observerByPlatform</key>
	<string>publicLoopTail</string>
	<key>opaqueNavigatorTop</key>
	<string>geometricFeatureFeedback</string>
	<key>routeChainTag</key>
	<string>injectionDuringNumber</string>
	<key>screenDecoratorSkewx</key>
	<string>concreteFeatureBrightness</string>
	<key>techniqueAlongKind</key>
	<string>hashFormRate</string>
	<key>workflowLayerRate</key>
	<string>protocolExceptBridge</string>
</dict>
</plist>
