<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexAndFramework</key>
	<string>boxProxyMomentum</string>
	<key>interactiveRectAlignment</key>
	<string>hardQueryVisibility</string>
	<key>isolateTierShape</key>
	<string>monsterKindFeedback</string>
	<key>serviceObserverDirection</key>
	<string>gridScopeType</string>
</dict>
</plist>
