<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperAtFacade</key>
	<string>immediateSignSkewx</string>
	<key>columnInterpreterDuration</key>
	<string>commandSystemTint</string>
	<key>composableDrawerInterval</key>
	<string>backwardConstraintRate</string>
	<key>delegateForVisitor</key>
	<string>lossUntilLevel</string>
	<key>effectLayerHead</key>
	<string>lostTickerName</string>
	<key>intensityPerTier</key>
	<string>groupLevelOpacity</string>
	<key>sinkDespiteMemento</key>
	<string>screenPrototypePosition</string>
</dict>
</plist>
