<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineContextLocation</key>
	<string>webStampDistance</string>
	<key>delicateFrameTail</key>
	<string>themeWithStyle</string>
	<key>exceptionDuringSingleton</key>
	<string>secondMediaqueryDistance</string>
	<key>hyperbolicPreviewName</key>
	<string>textureOutsideVar</string>
	<key>responsiveControllerSpeed</key>
	<string>customizedRoleOrigin</string>
</dict>
</plist>
