<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVariableDepth</key>
	<string>effectAroundJob</string>
	<key>captionTaskFrequency</key>
	<string>taskProcessBrightness</string>
	<key>integerMethodType</key>
	<string>behaviorFrameworkMomentum</string>
	<key>logarithmFunctionMode</key>
	<string>nibChainOrientation</string>
	<key>originalArithmeticEdge</key>
	<string>intuitiveStoreTension</string>
	<key>requestFormForce</key>
	<string>opaqueAspectratioMomentum</string>
	<key>singletonAlongDecorator</key>
	<string>mapPerPhase</string>
	<key>typicalRemainderMomentum</key>
	<string>scrollableAxisTail</string>
</dict>
</plist>
