<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertSingletonRotation</key>
	<string>immediateContractionBorder</string>
	<key>beginnerReducerTension</key>
	<string>scrollableTweenBound</string>
	<key>containerCycleBottom</key>
	<string>documentAwayStyle</string>
	<key>tableThanParameter</key>
	<string>configurationActivityDistance</string>
</dict>
</plist>
