<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedHeroIndex</key>
	<string>permissiveGradientBottom</string>
	<key>awaitAmongFlyweight</key>
	<string>factoryExceptComposite</string>
	<key>compositionKindAcceleration</key>
	<string>taskIncludeStage</string>
	<key>difficultCellDuration</key>
	<string>signatureFrameworkStatus</string>
	<key>effectJobIndex</key>
	<string>hyperbolicControllerSpacing</string>
	<key>finalSliderAlignment</key>
	<string>liteSineBorder</string>
	<key>futureContainParam</key>
	<string>momentumForPattern</string>
	<key>independentInteractorDelay</key>
	<string>optionParameterVisibility</string>
	<key>providerBeyondState</key>
	<string>frameTypeBehavior</string>
</dict>
</plist>
