<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterBridgeCount</key>
	<string>frameNearDecorator</string>
	<key>descriptionTierBehavior</key>
	<string>layoutAwayComposite</string>
	<key>effectInterpreterTail</key>
	<string>managerWorkSpacing</string>
	<key>errorThanPattern</key>
	<string>criticalCatalystOffset</string>
	<key>significantTransformerMargin</key>
	<string>transitionAgainstShape</string>
	<key>spotJobEdge</key>
	<string>builderBridgeTag</string>
</dict>
</plist>
