<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionEnvironmentInteraction</key>
	<string>tweenPlatformTension</string>
	<key>constraintMediatorSize</key>
	<string>layerInsideVariable</string>
	<key>dropdownbuttonAsStage</key>
	<string>easyEventVisible</string>
	<key>futureStyleTop</key>
	<string>streamOrFramework</string>
	<key>independentSineDelay</key>
	<string>sineInsideOperation</string>
	<key>observerThanMemento</key>
	<string>textVisitorType</string>
	<key>resourceScopeInterval</key>
	<string>substantialMethodState</string>
	<key>significantSwitchDelay</key>
	<string>missionLevelBrightness</string>
</dict>
</plist>
