<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithLayer</key>
	<string>modalThroughValue</string>
	<key>fixedHashTail</key>
	<string>operationStrategySpacing</string>
	<key>logCycleTheme</key>
	<string>localizationScopeMode</string>
	<key>resizableStateKind</key>
	<string>subtleOptimizerBottom</string>
	<key>scaleAdapterCenter</key>
	<string>dropdownbuttonNearActivity</string>
	<key>secondNavigationPressure</key>
	<string>cubitStyleTop</string>
	<key>sinkFormHue</key>
	<string>sinkAwayComposite</string>
</dict>
</plist>
