<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerOrFacade</key>
	<string>containerAmongLayer</string>
	<key>sessionIncludeMethod</key>
	<string>asyncLogarithmDensity</string>
	<key>storageDespiteJob</key>
	<string>interactiveTaskVisibility</string>
	<key>toolPrototypeFeedback</key>
	<string>grainAdapterSkewx</string>
</dict>
</plist>
