<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaActivityFeedback</key>
	<string>specifierStateTension</string>
	<key>asynchronousCommandStyle</key>
	<string>dynamicResourceTheme</string>
	<key>dedicatedConstraintOffset</key>
	<string>storyboardActivitySkewy</string>
	<key>delegateOrContext</key>
	<string>factoryTypeIndex</string>
	<key>dropdownbuttonBeyondWork</key>
	<string>nativeGroupAlignment</string>
	<key>normExceptMediator</key>
	<string>compositionAndBridge</string>
	<key>previewForFunction</key>
	<string>musicChainLocation</string>
	<key>resourceObserverVisibility</key>
	<string>reducerVersusForm</string>
	<key>signStructureForce</key>
	<string>labelDespiteEnvironment</string>
	<key>tangentAroundFacade</key>
	<string>crucialModulusOffset</string>
</dict>
</plist>
