<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionInterfaceSaturation</key>
	<string>durationPrototypeContrast</string>
	<key>alertFrameworkInset</key>
	<string>navigationOutsideParam</string>
	<key>boxOrMode</key>
	<string>particleFlyweightValidation</string>
	<key>difficultGramDuration</key>
	<string>usecaseMethodFlags</string>
	<key>greatNavigationSaturation</key>
	<string>kernelStyleCenter</string>
	<key>injectionOfStructure</key>
	<string>observerIncludePlatform</string>
	<key>localizationThanPrototype</key>
	<string>baselineByState</string>
	<key>pivotalButtonOrigin</key>
	<string>canvasNumberHead</string>
	<key>variantVarCenter</key>
	<string>gradientExceptParam</string>
</dict>
</plist>
