<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeVectorFeedback</key>
	<string>observerPhaseInset</string>
	<key>canvasShapeTint</key>
	<string>cubitScopeLeft</string>
	<key>fusedEntityBound</key>
	<string>multiplicationVersusCycle</string>
	<key>histogramUntilBridge</key>
	<string>alphaActivityTint</string>
	<key>integerSinceBridge</key>
	<string>compositionalMobileOffset</string>
	<key>mainApertureSize</key>
	<string>difficultCoordinatorForce</string>
	<key>subpixelAtVar</key>
	<string>dynamicEventPressure</string>
</dict>
</plist>
