<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationProcessVisible</key>
	<string>logIncludeFlyweight</string>
	<key>localExceptionStatus</key>
	<string>synchronousAxisType</string>
	<key>materialArithmeticSize</key>
	<string>cacheWorkFormat</string>
	<key>petSystemPressure</key>
	<string>richtextAsChain</string>
	<key>skinInAdapter</key>
	<string>decorationTempleResponse</string>
	<key>storeOrParam</key>
	<string>activatedNibShade</string>
</dict>
</plist>
