<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAspectForce</key>
	<string>dropdownbuttonAgainstOperation</string>
	<key>constChapterBound</key>
	<string>inheritedMovementRotation</string>
	<key>layerViaScope</key>
	<string>requiredMultiplicationSpeed</string>
	<key>previewInsideParameter</key>
	<string>agileAlphaTension</string>
	<key>sliderSinceNumber</key>
	<string>newestPaddingRate</string>
	<key>spineModeName</key>
	<string>publicScaleDelay</string>
	<key>statelessScenePadding</key>
	<string>constraintVisitorHue</string>
</dict>
</plist>
