<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentContextState</key>
	<string>statefulChartAlignment</string>
	<key>blocByValue</key>
	<string>mutableLayoutCount</string>
	<key>cartesianContainerResponse</key>
	<string>sortedTouchBorder</string>
	<key>lastGetxVisibility</key>
	<string>variantPerFacade</string>
	<key>normalTextTop</key>
	<string>asyncProxyOffset</string>
	<key>pivotalManagerDelay</key>
	<string>playbackValueMomentum</string>
	<key>smallStateResponse</key>
	<string>geometricAlphaRate</string>
	<key>sustainableTaskBound</key>
	<string>vectorScopeVisibility</string>
</dict>
</plist>
