<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterParamBound</key>
	<string>assetJobColor</string>
	<key>positionInterpreterScale</key>
	<string>themeModeKind</string>
	<key>resourceVisitorTension</key>
	<string>textfieldAwayTemple</string>
	<key>statelessResolverState</key>
	<string>layerBridgeTint</string>
	<key>tappableMobileStyle</key>
	<string>rapidMarginFormat</string>
</dict>
</plist>
