<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAboutContext</key>
	<string>operationBridgeValidation</string>
	<key>animatedcontainerUntilPlatform</key>
	<string>widgetKindOffset</string>
	<key>comprehensivePlaybackPosition</key>
	<string>tableOfVariable</string>
	<key>navigationAlongEnvironment</key>
	<string>graphThanMode</string>
	<key>significantImagePadding</key>
	<string>materialResourceBound</string>
</dict>
</plist>
