<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAwayVariable</key>
	<string>synchronousIntensityContrast</string>
	<key>bufferSingletonKind</key>
	<string>monsterScopeHue</string>
	<key>diversifiedCurveMomentum</key>
	<string>scaleMediatorShade</string>
	<key>notificationFormSkewy</key>
	<string>exceptionIncludeVisitor</string>
	<key>temporaryZoneFrequency</key>
	<string>iterativeToolVisible</string>
</dict>
</plist>
