<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAmongStrategy</key>
	<string>granularCardHead</string>
	<key>eagerCurveAcceleration</key>
	<string>radiusPatternSize</string>
	<key>radiusInScope</key>
	<string>loopPrototypeContrast</string>
	<key>referenceParameterColor</key>
	<string>binaryScopeStyle</string>
</dict>
</plist>
