<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveGroupAcceleration</key>
	<string>progressbarBufferFrequency</string>
	<key>nodeEnvironmentBehavior</key>
	<string>giftParameterResponse</string>
	<key>particleAndPrototype</key>
	<string>listenerInsideDecorator</string>
	<key>reducerIncludeVisitor</key>
	<string>smartProgressbarBottom</string>
	<key>semanticVariantRotation</key>
	<string>screenJobPressure</string>
	<key>sortedManagerLocation</key>
	<string>accessoryShapeTheme</string>
	<key>statefulResourceBorder</key>
	<string>layerAtMethod</string>
	<key>substantialDescriptorRate</key>
	<string>sinkWorkPadding</string>
</dict>
</plist>
