<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPhaseTail</key>
	<string>appbarVariableStatus</string>
	<key>futureThroughWork</key>
	<string>movementPatternPressure</string>
	<key>immediateDecorationCount</key>
	<string>cupertinoDrawerBound</string>
	<key>interfaceOperationMomentum</key>
	<string>durationBridgeRate</string>
	<key>ternaryFlyweightCoord</key>
	<string>consumerPlatformColor</string>
	<key>widgetThanProcess</key>
	<string>allocatorBesideInterpreter</string>
</dict>
</plist>
