<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAwayStage</key>
	<string>discardedIndicatorMode</string>
	<key>blocFlyweightSpacing</key>
	<string>screenFlyweightResponse</string>
	<key>capacitiesPhaseOpacity</key>
	<string>routeStructureTheme</string>
	<key>controllerUntilFunction</key>
	<string>chartTierResponse</string>
	<key>gemCommandOpacity</key>
	<string>textInMethod</string>
	<key>gridviewBeyondCommand</key>
	<string>batchContainFramework</string>
	<key>hardExponentDuration</key>
	<string>fusedReducerPadding</string>
	<key>mobileResourceShade</key>
	<string>rapidSpriteOpacity</string>
	<key>textNumberInteraction</key>
	<string>graphicAwayPattern</string>
</dict>
</plist>
