<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTypeFrequency</key>
	<string>profileInStyle</string>
	<key>brushAmongShape</key>
	<string>responseAboutCycle</string>
	<key>globalBaseTension</key>
	<string>ternaryIncludePattern</string>
	<key>inheritedProjectionKind</key>
	<string>resourceBufferSize</string>
	<key>numericalQueryDelay</key>
	<string>appbarInterpreterFeedback</string>
	<key>priorButtonStatus</key>
	<string>semanticQueueBehavior</string>
	<key>respectiveBufferShape</key>
	<string>dependencyBeyondMethod</string>
</dict>
</plist>
