<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelLayerDirection</key>
	<string>notificationSystemInteraction</string>
	<key>equalizationPlatformPosition</key>
	<string>specifyStorePadding</string>
	<key>rectDuringJob</key>
	<string>composableIsolateSaturation</string>
</dict>
</plist>
