<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFacadeStatus</key>
	<string>momentumNearTier</string>
	<key>effectExceptEnvironment</key>
	<string>mainIntensityContrast</string>
	<key>reducerInterpreterOpacity</key>
	<string>associatedMetadataVelocity</string>
	<key>responseThanProxy</key>
	<string>inheritedBoxBound</string>
	<key>usedServiceBound</key>
	<string>currentGraphState</string>
</dict>
</plist>
