<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInsideDecorator</key>
	<string>borderActivityStyle</string>
	<key>buttonSystemSkewy</key>
	<string>widgetVariableBound</string>
	<key>captionVariableTint</key>
	<string>positionMementoMode</string>
	<key>documentParamInterval</key>
	<string>discardedMemberHead</string>
	<key>indicatorOfLayer</key>
	<string>rapidSymbolTail</string>
	<key>inheritedHandlerOpacity</key>
	<string>menuWithSingleton</string>
	<key>navigatorProxyDelay</key>
	<string>rectInterpreterHue</string>
	<key>seguePrototypeKind</key>
	<string>standaloneBitrateTheme</string>
	<key>singletonInterpreterState</key>
	<string>equipmentAsDecorator</string>
	<key>webStatefulKind</key>
	<string>decorationStyleBound</string>
</dict>
</plist>
