<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureTempleStyle</key>
	<string>aspectProcessTint</string>
	<key>labelAwayChain</key>
	<string>providerFunctionResponse</string>
	<key>radioEnvironmentDelay</key>
	<string>brushPlatformMode</string>
	<key>singletonJobRotation</key>
	<string>spriteKindFrequency</string>
</dict>
</plist>
