<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCommandKind</key>
	<string>parallelScrollTag</string>
	<key>composableCanvasTail</key>
	<string>largeFragmentKind</string>
	<key>difficultChartDistance</key>
	<string>descriptionFormInset</string>
	<key>graphInsideShape</key>
	<string>completerDecoratorMomentum</string>
	<key>interactiveCubitFlags</key>
	<string>errorFormSkewx</string>
	<key>missedSingletonFormat</key>
	<string>lazyDurationHead</string>
	<key>stackContainPattern</key>
	<string>composableSizeDensity</string>
	<key>topicAlongBuffer</key>
	<string>hashProcessLeft</string>
</dict>
</plist>
