<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVersusParameter</key>
	<string>awaitProcessFeedback</string>
	<key>heapFlyweightColor</key>
	<string>otherNavigatorTint</string>
	<key>musicLevelScale</key>
	<string>actionWithPlatform</string>
	<key>radioWithoutCommand</key>
	<string>globalStreamFormat</string>
	<key>sizeThroughBridge</key>
	<string>textFromParameter</string>
	<key>toolDespiteKind</key>
	<string>advancedGesturedetectorLocation</string>
</dict>
</plist>
