<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateEnvironmentAppearance</key>
	<string>alignmentTempleFormat</string>
	<key>normalBorderDepth</key>
	<string>controllerMethodDistance</string>
	<key>serviceDespiteContext</key>
	<string>materialAndShape</string>
</dict>
</plist>
