<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredCommandBehavior</key>
	<string>referenceBesideShape</string>
	<key>desktopMethodFlags</key>
	<string>vectorOfMemento</string>
	<key>radioContainAction</key>
	<string>lazyCubitTransparency</string>
	<key>smallDimensionShape</key>
	<string>entityVisitorDirection</string>
</dict>
</plist>
