<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOperationBottom</key>
	<string>buttonStateColor</string>
	<key>chapterInterpreterEdge</key>
	<string>providerStageCoord</string>
	<key>featureSingletonFormat</key>
	<string>vectorPhasePadding</string>
	<key>keyDecorationFeedback</key>
	<string>symmetricParticleShade</string>
	<key>marginPerProcess</key>
	<string>reductionParameterState</string>
	<key>textThroughFunction</key>
	<string>errorFunctionIndex</string>
	<key>transitionOutsideCommand</key>
	<string>tickerBesideShape</string>
</dict>
</plist>
