<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDelegateOrientation</key>
	<string>brushViaSingleton</string>
	<key>logarithmJobSpacing</key>
	<string>toolPrototypeTint</string>
	<key>lostRadioRight</key>
	<string>sustainableInkwellBottom</string>
	<key>materialKindTension</key>
	<string>popupPatternMargin</string>
	<key>memberLevelLeft</key>
	<string>boxDecoratorBound</string>
	<key>resolverOutsideStage</key>
	<string>mainSemanticsFormat</string>
	<key>singleArithmeticDensity</key>
	<string>imagePhaseSkewx</string>
	<key>singletonLayerAlignment</key>
	<string>isolateWorkDepth</string>
	<key>transitionAndMode</key>
	<string>declarativeSingletonInteraction</string>
</dict>
</plist>
