<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPositionForce</key>
	<string>logViaTemple</string>
	<key>blocForProxy</key>
	<string>granularPresenterDuration</string>
	<key>handlerFormRate</key>
	<string>awaitContextFrequency</string>
	<key>navigatorAroundBuffer</key>
	<string>extensionAtParameter</string>
	<key>sliderPatternSpacing</key>
	<string>imageMementoInteraction</string>
</dict>
</plist>
