<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVersusWork</key>
	<string>sliderAmongType</string>
	<key>basicConstraintShade</key>
	<string>subtleChannelTop</string>
	<key>basicInteractorBorder</key>
	<string>projectionExceptFunction</string>
	<key>heroContainVar</key>
	<string>mediumStreamPadding</string>
	<key>lostBatchVisible</key>
	<string>hyperbolicSpineCoord</string>
	<key>mobileTempleVisible</key>
	<string>canvasFromKind</string>
	<key>navigatorVarRotation</key>
	<string>mediumNormIndex</string>
	<key>resourceVisitorPosition</key>
	<string>desktopSizedboxLeft</string>
	<key>robustNotifierAcceleration</key>
	<string>scrollableLossAlignment</string>
	<key>streamAroundMethod</key>
	<string>chartDecoratorFeedback</string>
</dict>
</plist>
