<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStageBottom</key>
	<string>cartesianProgressbarAlignment</string>
	<key>chartInsideObserver</key>
	<string>certificateFunctionMomentum</string>
	<key>denseTweenAlignment</key>
	<string>offsetValueFlags</string>
	<key>interactorLevelContrast</key>
	<string>providerBeyondComposite</string>
	<key>streamLikeParam</key>
	<string>activityInterpreterDirection</string>
</dict>
</plist>
