<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAroundNumber</key>
	<string>nextMissionCenter</string>
	<key>denseTouchDensity</key>
	<string>toolFormSkewx</string>
	<key>factoryTaskIndex</key>
	<string>firstCapacitiesBorder</string>
	<key>imperativePositionPressure</key>
	<string>queryAndAction</string>
	<key>matrixOperationSkewy</key>
	<string>observerThanFlyweight</string>
	<key>navigatorVarTheme</key>
	<string>columnParamInset</string>
	<key>normalAssetEdge</key>
	<string>dropdownbuttonPerObserver</string>
	<key>serviceViaShape</key>
	<string>notificationMethodInteraction</string>
	<key>subtleOffsetKind</key>
	<string>staticStatelessRight</string>
</dict>
</plist>
