<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customIsolateDepth</key>
	<string>transitionOperationOpacity</string>
	<key>entropyValueDelay</key>
	<string>transitionFromPhase</string>
	<key>ephemeralAsyncSkewx</key>
	<string>batchIncludeShape</string>
	<key>priorityAmongTier</key>
	<string>eagerCommandSpeed</string>
	<key>singleDecorationScale</key>
	<string>matrixObserverIndex</string>
</dict>
</plist>
