<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedConstraintResponse</key>
	<string>declarativeTernaryForce</string>
	<key>futureOutsideInterpreter</key>
	<string>clipperOutsideMode</string>
	<key>hashInActivity</key>
	<string>persistentUnaryCoord</string>
	<key>metadataVarTension</key>
	<string>dedicatedServiceTension</string>
	<key>queueTypeDuration</key>
	<string>cartesianTransitionSkewx</string>
	<key>singletonCycleCenter</key>
	<string>toolObserverCount</string>
</dict>
</plist>
