<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerInDecorator</key>
	<string>screenStageSaturation</string>
	<key>controllerObserverDensity</key>
	<string>elasticGestureTransparency</string>
	<key>listenerThanObserver</key>
	<string>robustBrushOrientation</string>
	<key>methodAlongSystem</key>
	<string>particleAsOperation</string>
	<key>newestPlateDirection</key>
	<string>gateBeyondType</string>
	<key>pageviewFromFunction</key>
	<string>swiftBufferFormat</string>
	<key>prevIntensityVisibility</key>
	<string>histogramFromObserver</string>
	<key>utilDecoratorBorder</key>
	<string>remainderTypeDistance</string>
</dict>
</plist>
