<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncIsolateResponse</key>
	<string>routeBesideVisitor</string>
	<key>immutableConstraintFeedback</key>
	<string>semanticsAwayBuffer</string>
	<key>notificationForSystem</key>
	<string>mainViewDelay</string>
	<key>typicalStoreCenter</key>
	<string>canvasTempleIndex</string>
</dict>
</plist>
