<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaIncludeFramework</key>
	<string>arithmeticRadiusPressure</string>
	<key>certificateAgainstObserver</key>
	<string>transitionVersusJob</string>
	<key>draggableAspectratioOrigin</key>
	<string>mediumMethodDelay</string>
	<key>notificationModeBottom</key>
	<string>slashBesideDecorator</string>
	<key>observerLayerDepth</key>
	<string>resilientDocumentBrightness</string>
	<key>rectPatternAcceleration</key>
	<string>specifierStrategyMode</string>
	<key>textureVarTheme</key>
	<string>retainedAspectratioCenter</string>
	<key>tickerNumberSkewx</key>
	<string>coordinatorThanState</string>
	<key>transitionJobShape</key>
	<string>constraintFromPrototype</string>
</dict>
</plist>
