<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSegmentInterval</key>
	<string>pivotalDelegateSize</string>
	<key>associatedLossResponse</key>
	<string>anchorThanMemento</string>
	<key>behaviorPerFramework</key>
	<string>sizedboxUntilState</string>
	<key>queryScopeTint</key>
	<string>missionVarForce</string>
	<key>singletonAndFramework</key>
	<string>threadEnvironmentLocation</string>
</dict>
</plist>
