<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitModeForce</key>
	<string>diversifiedAssetIndex</string>
	<key>priorBlocPosition</key>
	<string>substantialCurveKind</string>
	<key>usageBridgeTint</key>
	<string>animatedScrollName</string>
	<key>usecaseScopeBorder</key>
	<string>materialCapacitiesMode</string>
</dict>
</plist>
