<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateAnimationType</key>
	<string>crucialResultRotation</string>
	<key>dynamicBoxshadowState</key>
	<string>publicFlexSkewx</string>
	<key>fusedPopupFeedback</key>
	<string>associatedMusicInset</string>
	<key>gradientTaskStatus</key>
	<string>lazyDescriptorSkewx</string>
	<key>transitionActivityIndex</key>
	<string>instructionProcessInset</string>
</dict>
</plist>
