<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mutableThemeColor</key>
	<string>routerTaskDistance</string>
	<key>originalRadiusVisible</key>
	<string>imperativeInterfaceType</string>
	<key>resizableIndicatorDelay</key>
	<string>observerAndBuffer</string>
	<key>sortedNavigatorEdge</key>
	<string>subsequentCallbackBehavior</string>
</dict>
</plist>
