<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateNearProcess</key>
	<string>touchActionDistance</string>
	<key>popupProxyBound</key>
	<string>customEntityLocation</string>
	<key>routeShapeAlignment</key>
	<string>sliderAtJob</string>
	<key>scrollOutsideType</key>
	<string>queueDespiteMethod</string>
	<key>topicAroundComposite</key>
	<string>notifierInsideOperation</string>
	<key>zoneAroundProxy</key>
	<string>mobileRemainderAppearance</string>
</dict>
</plist>
