<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPlatformSize</key>
	<string>baseForFramework</string>
	<key>activatedListenerCoord</key>
	<string>textfieldOperationResponse</string>
	<key>cartesianVariantTail</key>
	<string>handlerIncludePlatform</string>
	<key>finalScreenFormat</key>
	<string>errorPatternBound</string>
	<key>interfaceWithoutDecorator</key>
	<string>navigationAtValue</string>
	<key>matrixAndShape</key>
	<string>spineContainParam</string>
	<key>nodeStateRotation</key>
	<string>sessionDuringPhase</string>
	<key>skinSystemPadding</key>
	<string>requiredIsolateAppearance</string>
	<key>storageStageMomentum</key>
	<string>delegateInsideSystem</string>
	<key>tableScopeMargin</key>
	<string>builderBesideKind</string>
</dict>
</plist>
