<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modulusBesideStrategy</key>
	<string>cubitThanWork</string>
	<key>notifierWithoutFlyweight</key>
	<string>textureAdapterCenter</string>
	<key>otherTransformerFrequency</key>
	<string>futureCycleLeft</string>
	<key>pivotalDocumentTension</key>
	<string>criticalLocalizationOrigin</string>
	<key>radiusByMode</key>
	<string>columnAdapterBottom</string>
	<key>typicalTextfieldRate</key>
	<string>fixedDialogsColor</string>
</dict>
</plist>
