<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAndForm</key>
	<string>graphStageFormat</string>
	<key>builderStateLocation</key>
	<string>shaderAroundPhase</string>
	<key>compositionPerTemple</key>
	<string>workflowMediatorTail</string>
	<key>declarativeDurationType</key>
	<string>usedAssetSkewy</string>
	<key>discardedSliderType</key>
	<string>adaptiveMarginHead</string>
	<key>globalResourceSize</key>
	<string>singletonMediatorStatus</string>
	<key>mediaSystemMargin</key>
	<string>alignmentAmongSystem</string>
	<key>mediaqueryShapeColor</key>
	<string>metadataAsStage</string>
	<key>stampStyleBrightness</key>
	<string>gradientInStructure</string>
	<key>symmetricDialogsSpacing</key>
	<string>statefulBlocSize</string>
</dict>
</plist>
