<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVisitorHue</key>
	<string>equalizationOutsideComposite</string>
	<key>configurationVersusStructure</key>
	<string>popupAroundWork</string>
	<key>decorationOrShape</key>
	<string>staticPlaybackCount</string>
	<key>mainFlexVelocity</key>
	<string>granularThemeRate</string>
	<key>permissiveDescriptionPressure</key>
	<string>arithmeticStageRotation</string>
	<key>pinchableMovementOrientation</key>
	<string>textShapeRate</string>
	<key>unsortedManagerSkewx</key>
	<string>toolAlongMethod</string>
</dict>
</plist>
