<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAndValue</key>
	<string>fusedControllerRotation</string>
	<key>currentEffectLocation</key>
	<string>subscriptionExceptFlyweight</string>
	<key>intermediateCoordinatorType</key>
	<string>completerBufferSize</string>
	<key>numericalReducerHead</key>
	<string>tabbarOfParam</string>
	<key>sessionLikeVar</key>
	<string>granularRepositoryTag</string>
	<key>standaloneSubscriptionDepth</key>
	<string>listenerInAction</string>
	<key>storageAgainstFacade</key>
	<string>popupSingletonCount</string>
</dict>
</plist>
