<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistAdapterInterval</key>
	<string>deferredAlignmentTag</string>
	<key>columnVariableEdge</key>
	<string>arithmeticSystemStatus</string>
	<key>decorationAlongPrototype</key>
	<string>normAtFunction</string>
	<key>finalCustompaintCenter</key>
	<string>customizedIconRight</string>
	<key>mediaUntilAdapter</key>
	<string>accessibleManagerSkewx</string>
	<key>plateOutsideComposite</key>
	<string>materialStatefulDistance</string>
	<key>rectFlyweightDirection</key>
	<string>transitionNearAdapter</string>
	<key>sessionShapeMargin</key>
	<string>subscriptionAboutTier</string>
	<key>synchronousAccessoryLocation</key>
	<string>elasticGesturedetectorOpacity</string>
	<key>synchronousConvolutionSpacing</key>
	<string>allocatorFromStyle</string>
</dict>
</plist>
