<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionExceptMode</key>
	<string>controllerDespiteCycle</string>
	<key>configurationStateRight</key>
	<string>dialogsBesideMethod</string>
	<key>flexTypeShape</key>
	<string>queryViaMediator</string>
	<key>inheritedLossLeft</key>
	<string>asynchronousSpineBottom</string>
	<key>progressbarUntilPrototype</key>
	<string>finalScaleIndex</string>
	<key>specifyGradientSkewx</key>
	<string>awaitTierKind</string>
</dict>
</plist>
