<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInjectionDensity</key>
	<string>commonReferenceBound</string>
	<key>staticIconHue</key>
	<string>effectPhaseAppearance</string>
	<key>techniqueOrScope</key>
	<string>sensorAndPlatform</string>
</dict>
</plist>
