<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaJobInteraction</key>
	<string>labelValueCount</string>
	<key>resilientActivityTension</key>
	<string>firstResolverVelocity</string>
	<key>semanticLayoutState</key>
	<string>workflowWithoutOperation</string>
	<key>streamAtForm</key>
	<string>curveStyleStatus</string>
	<key>textureAroundEnvironment</key>
	<string>cacheByScope</string>
</dict>
</plist>
