<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartActionAlignment</key>
	<string>frameShapeFormat</string>
	<key>disparateSemanticsCenter</key>
	<string>builderTempleSpacing</string>
	<key>euclideanOperationShade</key>
	<string>timerLikeBuffer</string>
	<key>mediaqueryOutsideChain</key>
	<string>mediocreBrushDirection</string>
	<key>scaffoldThroughScope</key>
	<string>zonePrototypeDepth</string>
	<key>sliderOfMethod</key>
	<string>aspectratioStateSpeed</string>
</dict>
</plist>
