<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTransitionHue</key>
	<string>signBeyondStructure</string>
	<key>awaitVisitorOrientation</key>
	<string>coordinatorAwayParam</string>
	<key>constraintValueLeft</key>
	<string>transitionStageSpeed</string>
	<key>featureSingletonAppearance</key>
	<string>scaleTypePadding</string>
	<key>intensityViaWork</key>
	<string>builderAgainstSystem</string>
	<key>lazyRadioSaturation</key>
	<string>bufferAtSingleton</string>
	<key>sharedTickerForce</key>
	<string>accessoryTierStyle</string>
	<key>swiftChainPressure</key>
	<string>streamScopeEdge</string>
</dict>
</plist>
