<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsAroundMethod</key>
	<string>animationThroughShape</string>
	<key>granularPriorityName</key>
	<string>iterativeRadioInteraction</string>
	<key>masterAgainstSingleton</key>
	<string>taskOutsideStyle</string>
	<key>mobileDimensionCount</key>
	<string>gemVisitorStatus</string>
	<key>modalPatternTransparency</key>
	<string>responseAboutMode</string>
	<key>profileTaskSaturation</key>
	<string>sustainableAppbarTint</string>
	<key>smartButtonAppearance</key>
	<string>actionActivityBrightness</string>
	<key>specifyResponseVisible</key>
	<string>layerDespiteMode</string>
	<key>toolFlyweightVisibility</key>
	<string>viewIncludeDecorator</string>
	<key>widgetStatePressure</key>
	<string>desktopSwitchDuration</string>
</dict>
</plist>
