<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePointDepth</key>
	<string>fragmentForKind</string>
	<key>loopPatternHead</key>
	<string>requiredStatefulValidation</string>
	<key>priorityActivityOpacity</key>
	<string>priorMovementResponse</string>
	<key>storageForParam</key>
	<string>primaryDurationTag</string>
	<key>topicFlyweightContrast</key>
	<string>unarySystemIndex</string>
</dict>
</plist>
