<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSystemBorder</key>
	<string>tabbarContextValidation</string>
	<key>dimensionTempleSize</key>
	<string>visibleSinkKind</string>
	<key>fragmentByTier</key>
	<string>documentAlongTemple</string>
	<key>localizationForTask</key>
	<string>requiredLoopEdge</string>
	<key>threadFromFramework</key>
	<string>challengeSystemMode</string>
	<key>titleAsJob</key>
	<string>metadataShapeType</string>
</dict>
</plist>
