<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAmongTemple</key>
	<string>cupertinoUnaryColor</string>
	<key>factoryThroughFacade</key>
	<string>diffableTableSize</string>
	<key>resilientOffsetTint</key>
	<string>screenInsideActivity</string>
	<key>specifierLayerInteraction</key>
	<string>persistentResultLeft</string>
	<key>tabviewKindStyle</key>
	<string>resolverPerVariable</string>
	<key>tensorPainterPadding</key>
	<string>gestureOutsideSingleton</string>
	<key>textureForEnvironment</key>
	<string>usageNearChain</string>
</dict>
</plist>
