<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStyleDistance</key>
	<string>apertureOutsideComposite</string>
	<key>delegateTaskTint</key>
	<string>checkboxParamDelay</string>
	<key>heapBufferTension</key>
	<string>smallPetOpacity</string>
	<key>lastAwaitMode</key>
	<string>menuProxyForce</string>
	<key>mutableConstraintBehavior</key>
	<string>isolateCycleAlignment</string>
	<key>responseVarFeedback</key>
	<string>futureInterpreterTail</string>
</dict>
</plist>
