<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithAction</key>
	<string>beginnerIconEdge</string>
	<key>animatedcontainerFromPlatform</key>
	<string>listenerStageFormat</string>
	<key>dependencyActionPressure</key>
	<string>parallelCoordinatorShape</string>
	<key>opaqueSceneSkewy</key>
	<string>clipperAwayComposite</string>
	<key>permanentResolverIndex</key>
	<string>observerUntilScope</string>
	<key>progressbarOutsideSystem</key>
	<string>flexibleRequestForce</string>
	<key>stackAwayAdapter</key>
	<string>sizedboxInContext</string>
</dict>
</plist>
