<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRowDensity</key>
	<string>interactiveDurationBorder</string>
	<key>configurationPrototypeDelay</key>
	<string>denseResponsePosition</string>
	<key>cubitProcessVisible</key>
	<string>permanentActionPressure</string>
	<key>draggableCompositionBrightness</key>
	<string>arithmeticDespiteJob</string>
	<key>prismaticSkirtResponse</key>
	<string>dimensionSingletonKind</string>
	<key>spotContainProcess</key>
	<string>accessoryWithStage</string>
	<key>synchronousGridVisibility</key>
	<string>indicatorFrameworkContrast</string>
	<key>transformerTaskTag</key>
	<string>behaviorFromPrototype</string>
	<key>workflowStrategyPosition</key>
	<string>isolateActivityInterval</string>
</dict>
</plist>
