<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsAction</key>
	<string>cellTaskHead</string>
	<key>prismaticStateMargin</key>
	<string>heapDespiteMemento</string>
	<key>rectAlongChain</key>
	<string>animatedDurationRotation</string>
	<key>sequentialFragmentInset</key>
	<string>materialBitrateDirection</string>
	<key>switchAlongMode</key>
	<string>resourceAlongSingleton</string>
	<key>topicOutsideSingleton</key>
	<string>responseLayerStatus</string>
</dict>
</plist>
