<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsFormOpacity</key>
	<string>prevCubitAppearance</string>
	<key>observerAboutChain</key>
	<string>immediateSpriteShape</string>
	<key>relationalProtocolBound</key>
	<string>asyncAroundPattern</string>
	<key>ternarySystemTheme</key>
	<string>hashDecoratorInterval</string>
	<key>textureContainSystem</key>
	<string>grainChainInterval</string>
</dict>
</plist>
