<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateFunctionIndex</key>
	<string>disparateMusicFormat</string>
	<key>columnVersusComposite</key>
	<string>animationBridgeStyle</string>
	<key>greatThemeSkewx</key>
	<string>zoneBeyondEnvironment</string>
	<key>invisibleChannelEdge</key>
	<string>uniformGridScale</string>
	<key>modelBesideActivity</key>
	<string>diffableConstraintVisibility</string>
	<key>textParamAlignment</key>
	<string>petProxyVisibility</string>
</dict>
</plist>
