<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoRowOrientation</key>
	<string>observerStateSkewy</string>
	<key>operationSingletonTail</key>
	<string>curveDespiteTemple</string>
	<key>spriteVariableStyle</key>
	<string>capacitiesFunctionSkewx</string>
	<key>staticArithmeticSpeed</key>
	<string>configurationScopeRate</string>
	<key>textfieldProxyColor</key>
	<string>alignmentContainFunction</string>
	<key>tickerStateTail</key>
	<string>graphicExceptTemple</string>
</dict>
</plist>
