<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashTempleOrientation</key>
	<string>vectorStructureStyle</string>
	<key>momentumInterpreterHue</key>
	<string>flexBeyondFlyweight</string>
	<key>repositoryExceptProxy</key>
	<string>cacheExceptSystem</string>
	<key>scaffoldContainComposite</key>
	<string>protocolCompositeEdge</string>
	<key>transformerAmongInterpreter</key>
	<string>stepDespiteStyle</string>
</dict>
</plist>
