<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRemainderColor</key>
	<string>zoneVariableBound</string>
	<key>characterInCycle</key>
	<string>popupAboutScope</string>
	<key>consumerPatternScale</key>
	<string>techniqueInFacade</string>
	<key>featureAndKind</key>
	<string>presenterViaForm</string>
	<key>gateVisitorForce</key>
	<string>resolverTypeValidation</string>
	<key>kernelNearFunction</key>
	<string>standaloneServiceVisibility</string>
	<key>metadataModeDensity</key>
	<string>awaitVarTop</string>
	<key>petMethodInteraction</key>
	<string>flexibleGridviewTag</string>
	<key>primaryMenuDistance</key>
	<string>graphicFlyweightDepth</string>
	<key>providerBridgeCenter</key>
	<string>diffableCommandAlignment</string>
</dict>
</plist>
