<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationFacadeDuration</key>
	<string>expandedLevelSize</string>
	<key>currentSinkTag</key>
	<string>visibleInkwellPadding</string>
	<key>customAccessoryRight</key>
	<string>collectionChainAlignment</string>
	<key>diversifiedLabelOpacity</key>
	<string>customResourceMargin</string>
	<key>mutablePositionTail</key>
	<string>interactiveExceptionScale</string>
	<key>skirtFrameworkContrast</key>
	<string>directCheckboxDuration</string>
	<key>switchFromMediator</key>
	<string>musicVarFeedback</string>
</dict>
</plist>
