<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSystemBorder</key>
	<string>protectedDropdownbuttonInteraction</string>
	<key>assetWithoutPlatform</key>
	<string>compositionalButtonDirection</string>
	<key>columnPerObserver</key>
	<string>reductionFacadeDistance</string>
	<key>gemActionDelay</key>
	<string>mobxUntilEnvironment</string>
	<key>kernelLevelSaturation</key>
	<string>oldAspectratioDelay</string>
	<key>staticCertificateBrightness</key>
	<string>behaviorFacadeIndex</string>
	<key>timerOfNumber</key>
	<string>resolverStateScale</string>
</dict>
</plist>
