<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constTitleShade</key>
	<string>textTypeVisible</string>
	<key>groupUntilContext</key>
	<string>taskLikeFacade</string>
	<key>inkwellLevelState</key>
	<string>permanentMemberInteraction</string>
	<key>labelContextInterval</key>
	<string>builderWithLayer</string>
	<key>layerWithoutAdapter</key>
	<string>handlerMethodAppearance</string>
	<key>particleSystemInteraction</key>
	<string>accessoryAtFunction</string>
	<key>rectShapeShade</key>
	<string>capsuleViaPlatform</string>
	<key>unactivatedControllerIndex</key>
	<string>containerBufferCount</string>
</dict>
</plist>
