<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeExceptionSize</key>
	<string>modelOutsideMode</string>
	<key>containerMementoCount</key>
	<string>gridInMethod</string>
	<key>fragmentUntilShape</key>
	<string>publicCycleMargin</string>
	<key>notifierChainAcceleration</key>
	<string>apertureTypeTint</string>
	<key>positionAroundInterpreter</key>
	<string>queueTempleMode</string>
	<key>projectionKindDensity</key>
	<string>behaviorPrototypeLocation</string>
	<key>reductionPrototypeForce</key>
	<string>stateFormPressure</string>
	<key>zoneSingletonAppearance</key>
	<string>cursorDuringBuffer</string>
</dict>
</plist>
