<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDrawerSize</key>
	<string>persistentFutureBottom</string>
	<key>blocFromShape</key>
	<string>advancedBoxshadowRotation</string>
	<key>composableCosineBorder</key>
	<string>contractionEnvironmentTheme</string>
	<key>entropyIncludeWork</key>
	<string>buttonActionBorder</string>
	<key>richtextThroughState</key>
	<string>profileScopeTop</string>
	<key>timerPhaseAlignment</key>
	<string>streamInsidePattern</string>
	<key>zoneExceptCommand</key>
	<string>gradientTypeMomentum</string>
</dict>
</plist>
