<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFlyweightName</key>
	<string>queryInMethod</string>
	<key>chapterOfKind</key>
	<string>characterNearKind</string>
	<key>directConvolutionCount</key>
	<string>accessibleViewSize</string>
	<key>entropyInsideMediator</key>
	<string>sharedRouterSize</string>
	<key>matrixFromInterpreter</key>
	<string>eventCommandFormat</string>
	<key>promiseStyleRight</key>
	<string>semanticsVariableEdge</string>
	<key>reactiveArithmeticScale</key>
	<string>factoryAndAction</string>
	<key>subsequentNodeBorder</key>
	<string>basicGridIndex</string>
</dict>
</plist>
