<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedLabelIndex</key>
	<string>apertureCompositeBorder</string>
	<key>dedicatedUnaryIndex</key>
	<string>presenterThanVar</string>
	<key>dropdownbuttonPerStage</key>
	<string>dialogsInterpreterDensity</string>
	<key>durationInEnvironment</key>
	<string>projectNumberBottom</string>
	<key>listenerStyleBrightness</key>
	<string>overlayVarSkewy</string>
	<key>loopCompositeDepth</key>
	<string>tickerTempleSkewy</string>
	<key>providerAsState</key>
	<string>basePhaseAlignment</string>
	<key>seamlessFutureDensity</key>
	<string>significantContainerIndex</string>
	<key>sequentialPromiseOrigin</key>
	<string>statefulSkinOrientation</string>
</dict>
</plist>
