<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonFlyweightBottom</key>
	<string>borderAsStyle</string>
	<key>granularInjectionHead</key>
	<string>localizationShapeAppearance</string>
	<key>localHeroDensity</key>
	<string>reducerDuringTier</string>
	<key>localStatelessType</key>
	<string>mobileDespiteProxy</string>
	<key>masterLikeStyle</key>
	<string>sinkAlongProxy</string>
	<key>resourcePlatformDuration</key>
	<string>asyncDialogsDuration</string>
	<key>semanticSingletonRate</key>
	<string>imageIncludeForm</string>
</dict>
</plist>
