<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAgainstVisitor</key>
	<string>delegateTempleAppearance</string>
	<key>mobxAndAdapter</key>
	<string>completerNearContext</string>
	<key>reducerAsProxy</key>
	<string>missionTierBound</string>
	<key>signNumberMomentum</key>
	<string>channelOfValue</string>
	<key>symbolProcessInteraction</key>
	<string>mainRouterMomentum</string>
</dict>
</plist>
