<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveListenerDensity</key>
	<string>responsiveContainerAppearance</string>
	<key>dimensionKindTransparency</key>
	<string>signatureOperationInterval</string>
	<key>diversifiedAccessoryLeft</key>
	<string>eventBeyondDecorator</string>
	<key>layerAgainstNumber</key>
	<string>tabviewFromShape</string>
	<key>modulusMementoFlags</key>
	<string>visibleCallbackCount</string>
	<key>popupAsPattern</key>
	<string>transitionParameterMomentum</string>
	<key>singletonAgainstFunction</key>
	<string>alignmentIncludeValue</string>
	<key>taskIncludeState</key>
	<string>animatedTextInteraction</string>
</dict>
</plist>
