<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapModeTransparency</key>
	<string>futureWithoutForm</string>
	<key>histogramActionTint</key>
	<string>instructionAgainstVar</string>
	<key>prismaticMasterDepth</key>
	<string>exceptionProxyTag</string>
	<key>touchPhaseHead</key>
	<string>displayableClipperState</string>
</dict>
</plist>
