<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellDuringTemple</key>
	<string>nibActionDistance</string>
	<key>exponentInNumber</key>
	<string>alertWithoutVisitor</string>
	<key>grainAtShape</key>
	<string>directRichtextVisibility</string>
	<key>logarithmJobSaturation</key>
	<string>offsetParameterShade</string>
	<key>multiplicationLayerOrientation</key>
	<string>masterAboutCommand</string>
	<key>routeProxyInterval</key>
	<string>notifierAsForm</string>
	<key>seamlessCellColor</key>
	<string>captionActionFlags</string>
	<key>sharedAnimationValidation</key>
	<string>contractionByContext</string>
</dict>
</plist>
