<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedGemHue</key>
	<string>stepSinceTier</string>
	<key>easyCurvePosition</key>
	<string>musicAsStrategy</string>
	<key>gramThanType</key>
	<string>draggableBehaviorVelocity</string>
	<key>prismaticErrorMargin</key>
	<string>gradientVersusDecorator</string>
	<key>timerInsideTemple</key>
	<string>baselineLayerRate</string>
	<key>unsortedControllerTop</key>
	<string>repositoryMethodStyle</string>
</dict>
</plist>
