<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticModeVisibility</key>
	<string>listviewNearTemple</string>
	<key>boxshadowAgainstBridge</key>
	<string>extensionInParam</string>
	<key>dialogsDuringSystem</key>
	<string>listviewOutsideState</string>
	<key>futurePrototypeCenter</key>
	<string>relationalUtilTop</string>
	<key>numericalConfigurationAppearance</key>
	<string>intermediateIconVisible</string>
	<key>rectInMode</key>
	<string>prevChartInset</string>
	<key>sensorSystemDuration</key>
	<string>navigatorNumberContrast</string>
</dict>
</plist>
