<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertDecoratorSkewy</key>
	<string>asyncHeroVelocity</string>
	<key>delegateWithFramework</key>
	<string>nibDecoratorRate</string>
	<key>queueKindForce</key>
	<string>mediocreTouchAppearance</string>
	<key>sustainableNotificationBrightness</key>
	<string>controllerBesideState</string>
</dict>
</plist>
