<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCommandDirection</key>
	<string>commonPriorityTail</string>
	<key>immutableTransformerBrightness</key>
	<string>specifyDecorationResponse</string>
	<key>numericalWidgetTop</key>
	<string>originalEffectDelay</string>
	<key>singletonAtProcess</key>
	<string>contractionBeyondNumber</string>
	<key>stateUntilInterpreter</key>
	<string>providerCompositeIndex</string>
</dict>
</plist>
