<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTextResponse</key>
	<string>viewCommandVisibility</string>
	<key>gemLikeShape</key>
	<string>storeForValue</string>
	<key>mapAlongVariable</key>
	<string>controllerActivitySkewy</string>
	<key>positionPrototypeCenter</key>
	<string>asynchronousSubpixelVisible</string>
	<key>tabviewExceptContext</key>
	<string>mapNearObserver</string>
</dict>
</plist>
