<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetNumberIndex</key>
	<string>nibSinceStage</string>
	<key>characterOperationVisible</key>
	<string>managerStrategyVisibility</string>
	<key>checkboxPhaseTension</key>
	<string>spriteDecoratorName</string>
	<key>cursorVarStyle</key>
	<string>normPerMediator</string>
	<key>extensionTierPadding</key>
	<string>capacitiesModeIndex</string>
	<key>factorySingletonTension</key>
	<string>aspectratioDecoratorBorder</string>
	<key>serviceAroundObserver</key>
	<string>rapidRichtextAppearance</string>
	<key>sinkUntilAction</key>
	<string>viewDecoratorSaturation</string>
	<key>spriteLevelPressure</key>
	<string>liteCharacterContrast</string>
	<key>unsortedCurveOffset</key>
	<string>significantMobxShape</string>
</dict>
</plist>
