<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTransitionAppearance</key>
	<string>popupForWork</string>
	<key>certificateAwayFacade</key>
	<string>secondObserverForce</string>
	<key>completerContainFunction</key>
	<string>switchPhaseFlags</string>
	<key>curveContainKind</key>
	<string>taskModeAlignment</string>
	<key>hashLayerCoord</key>
	<string>loopLikeFacade</string>
	<key>mobileReferenceHue</key>
	<string>cacheAlongProxy</string>
	<key>mobxUntilFlyweight</key>
	<string>parallelChannelTension</string>
	<key>storeParameterVisible</key>
	<string>ephemeralGraphCenter</string>
	<key>transitionSinceFlyweight</key>
	<string>delegateFromLevel</string>
	<key>vectorThanNumber</key>
	<string>unactivatedObserverScale</string>
</dict>
</plist>
