<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSliderBorder</key>
	<string>shaderAndContext</string>
	<key>criticalGrainVisible</key>
	<string>groupOrCycle</string>
	<key>durationThroughLayer</key>
	<string>constraintObserverLeft</string>
	<key>interactiveAsyncTag</key>
	<string>baselineFunctionPosition</string>
	<key>remainderScopeSize</key>
	<string>storeLikeObserver</string>
	<key>resourceCommandRate</key>
	<string>sequentialStateVisible</string>
	<key>smallInterfaceForce</key>
	<string>keyMarginInset</string>
	<key>taskSinceVisitor</key>
	<string>uniqueManagerResponse</string>
	<key>unaryVarCenter</key>
	<string>directSignStatus</string>
	<key>zoneShapeMargin</key>
	<string>builderPrototypeValidation</string>
</dict>
</plist>
