<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoViewShade</key>
	<string>entityAlongForm</string>
	<key>delegateEnvironmentSkewx</key>
	<string>awaitAgainstStage</string>
	<key>featureLayerBound</key>
	<string>delegateFlyweightSize</string>
	<key>labelVariableMargin</key>
	<string>storyboardActivityStyle</string>
	<key>resizableAspectResponse</key>
	<string>cursorKindKind</string>
	<key>synchronousExceptionOpacity</key>
	<string>adaptiveSubscriptionOffset</string>
	<key>transformerOperationShape</key>
	<string>relationalPetSkewy</string>
</dict>
</plist>
