<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAsComposite</key>
	<string>keyRadiusDelay</string>
	<key>heapJobAcceleration</key>
	<string>repositoryFacadeRight</string>
	<key>rapidAlertTheme</key>
	<string>statefulSystemIndex</string>
	<key>widgetAndSystem</key>
	<string>textureContextDensity</string>
</dict>
</plist>
