<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyNotificationAppearance</key>
	<string>buttonLikeVariable</string>
	<key>effectCycleRate</key>
	<string>modelBufferVelocity</string>
	<key>loopExceptChain</key>
	<string>previewAboutCommand</string>
	<key>usageBeyondDecorator</key>
	<string>iterativeStreamResponse</string>
</dict>
</plist>
