<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyHandlerScale</key>
	<string>skirtFrameworkAcceleration</string>
	<key>easyMethodValidation</key>
	<string>capacitiesBesideTier</string>
	<key>extensionInsideScope</key>
	<string>layoutPerWork</string>
	<key>interpolationUntilAction</key>
	<string>bufferStrategyDensity</string>
	<key>layerAroundStage</key>
	<string>desktopTechniqueDelay</string>
	<key>queueAlongParameter</key>
	<string>delegateStyleAcceleration</string>
	<key>sizePhaseStatus</key>
	<string>missedTopicResponse</string>
</dict>
</plist>
