<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerObserverMode</key>
	<string>semanticsIncludeVariable</string>
	<key>materialTaskBound</key>
	<string>explicitTransformerMargin</string>
	<key>missedResultShade</key>
	<string>observerOperationPadding</string>
	<key>mobileAwaitLeft</key>
	<string>popupForStage</string>
	<key>riverpodThanVisitor</key>
	<string>memberAroundState</string>
	<key>utilDespiteScope</key>
	<string>lastExpandedPosition</string>
</dict>
</plist>
