<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitCompositeAlignment</key>
	<string>mediaNearFacade</string>
	<key>cursorPatternEdge</key>
	<string>cardAtNumber</string>
	<key>custompaintForPattern</key>
	<string>futureThanInterpreter</string>
	<key>entropyDuringJob</key>
	<string>associatedSlashScale</string>
	<key>prevPlaybackTint</key>
	<string>inactiveLayoutDirection</string>
	<key>responseParamLeft</key>
	<string>symmetricMarginOrientation</string>
</dict>
</plist>
