<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedExceptionVelocity</key>
	<string>easyAssetResponse</string>
	<key>futureSystemDistance</key>
	<string>durationVarTop</string>
	<key>navigationSinceProcess</key>
	<string>imperativeCompleterPadding</string>
</dict>
</plist>
