<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMediatorType</key>
	<string>promiseOutsideLayer</string>
	<key>localizationStrategySize</key>
	<string>labelFlyweightHead</string>
	<key>menuTierEdge</key>
	<string>asynchronousHeroSpeed</string>
	<key>previewOutsideVisitor</key>
	<string>tabbarOrWork</string>
	<key>transitionMediatorMomentum</key>
	<string>titleCommandMargin</string>
</dict>
</plist>
