<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardResourceTail</key>
	<string>aspectIncludeNumber</string>
	<key>captionNearProxy</key>
	<string>descriptionPhaseStyle</string>
	<key>commandDespiteDecorator</key>
	<string>skirtForMethod</string>
	<key>cubitAwayScope</key>
	<string>popupKindLocation</string>
	<key>futureBeyondTemple</key>
	<string>promiseKindLocation</string>
	<key>graphInsideMediator</key>
	<string>reducerOutsideCycle</string>
	<key>relationalEquipmentRight</key>
	<string>chapterOrVariable</string>
	<key>storageThroughParam</key>
	<string>histogramAroundMediator</string>
	<key>ternaryViaFunction</key>
	<string>allocatorModeInset</string>
</dict>
</plist>
