<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSlashName</key>
	<string>entityFromKind</string>
	<key>curveAtCycle</key>
	<string>navigatorFrameworkOffset</string>
	<key>denseLabelBound</key>
	<string>gramAndParameter</string>
	<key>desktopSliderName</key>
	<string>bufferPrototypeAppearance</string>
	<key>dimensionJobTail</key>
	<string>sharedGramOffset</string>
	<key>iconTierSpacing</key>
	<string>labelDecoratorContrast</string>
	<key>providerAndProxy</key>
	<string>isolateStateDistance</string>
	<key>scrollablePrecisionLeft</key>
	<string>scaleFormSkewy</string>
</dict>
</plist>
