<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaForInterpreter</key>
	<string>unarySystemDensity</string>
	<key>beginnerCommandTail</key>
	<string>featureParamBorder</string>
	<key>crucialRadioInteraction</key>
	<string>typicalExponentFlags</string>
	<key>cubeMethodTheme</key>
	<string>completerPrototypeLocation</string>
	<key>curveVariablePosition</key>
	<string>rapidListenerOpacity</string>
	<key>singletonNearJob</key>
	<string>resizableWorkflowBehavior</string>
	<key>sliderAdapterKind</key>
	<string>labelFunctionVisible</string>
	<key>usedNormPosition</key>
	<string>gridviewAroundProxy</string>
</dict>
</plist>
