<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramInsideMethod</key>
	<string>baselineOutsidePrototype</string>
	<key>hyperbolicAppbarCoord</key>
	<string>utilStyleOrientation</string>
	<key>imperativeControllerPadding</key>
	<string>descriptionOutsideForm</string>
	<key>similarRouteOrigin</key>
	<string>criticalTechniqueTop</string>
	<key>substantialButtonDepth</key>
	<string>tweenObserverInteraction</string>
</dict>
</plist>
