<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSkirtTint</key>
	<string>alignmentProcessBottom</string>
	<key>directlyCycleInterval</key>
	<string>sliderLayerTint</string>
	<key>discardedSizedboxTransparency</key>
	<string>radioViaState</string>
	<key>elasticResponseOrientation</key>
	<string>cupertinoScrollAppearance</string>
	<key>normalGradientRight</key>
	<string>shaderForShape</string>
	<key>positionShapeRight</key>
	<string>commonTextValidation</string>
	<key>projectionAgainstProcess</key>
	<string>queryVersusSingleton</string>
	<key>scaleVersusMethod</key>
	<string>advancedSceneColor</string>
	<key>specifyNibBehavior</key>
	<string>displayablePaddingTop</string>
	<key>toolActivityScale</key>
	<string>appbarObserverDistance</string>
</dict>
</plist>
