<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonBridgeInteraction</key>
	<string>pivotalViewCount</string>
	<key>displayableAssetLeft</key>
	<string>euclideanEventValidation</string>
	<key>intuitiveWidgetAcceleration</key>
	<string>unaryJobDepth</string>
	<key>mapSingletonShade</key>
	<string>symbolAtValue</string>
	<key>permissivePopupLocation</key>
	<string>isolateEnvironmentShape</string>
	<key>rapidFutureState</key>
	<string>firstProjectionSkewy</string>
	<key>stateDuringInterpreter</key>
	<string>fusedConsumerTheme</string>
	<key>touchFromBridge</key>
	<string>storyboardTempleKind</string>
</dict>
</plist>
