<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableActivityBottom</key>
	<string>concreteCardContrast</string>
	<key>granularMenuOrientation</key>
	<string>layerFromDecorator</string>
	<key>instructionSinceParam</key>
	<string>textureBesidePlatform</string>
	<key>materialLayerFormat</key>
	<string>axisObserverBehavior</string>
	<key>matrixOutsideMediator</key>
	<string>playbackJobScale</string>
	<key>mediaOutsideDecorator</key>
	<string>subscriptionThroughBridge</string>
	<key>toolBridgeName</key>
	<string>transitionBesideLevel</string>
</dict>
</plist>
