<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNotifierTheme</key>
	<string>notificationParameterState</string>
	<key>chapterWorkName</key>
	<string>beginnerObserverInset</string>
	<key>characterContextAppearance</key>
	<string>compositionMementoDepth</string>
	<key>completerActivityBehavior</key>
	<string>touchOrActivity</string>
	<key>frameDecoratorBottom</key>
	<string>dynamicIndicatorState</string>
	<key>priorPopupState</key>
	<string>elasticSignatureHue</string>
	<key>repositoryBeyondMode</key>
	<string>hierarchicalInteractorStyle</string>
	<key>responsiveResourceHead</key>
	<string>arithmeticSinceDecorator</string>
	<key>transitionAdapterAppearance</key>
	<string>matrixMethodPosition</string>
	<key>uniformStoreCenter</key>
	<string>transitionSinceMode</string>
</dict>
</plist>
