<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorEnvironmentEdge</key>
	<string>resolverOutsideForm</string>
	<key>delegateDuringSingleton</key>
	<string>unsortedOffsetTheme</string>
	<key>imageAgainstStrategy</key>
	<string>menuLayerHead</string>
	<key>matrixFormStatus</key>
	<string>titleNearVisitor</string>
</dict>
</plist>
