<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureViaPhase</key>
	<string>axisContainMethod</string>
	<key>intermediateCatalystHead</key>
	<string>boxshadowVariablePadding</string>
	<key>priorLayoutBrightness</key>
	<string>exceptionAdapterOrigin</string>
	<key>scaffoldParamVisibility</key>
	<string>nextApertureVelocity</string>
	<key>spineOutsideStyle</key>
	<string>listviewBufferResponse</string>
</dict>
</plist>
