<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorActionPadding</key>
	<string>otherSineFormat</string>
	<key>commandIncludeShape</key>
	<string>extensionPhaseMomentum</string>
	<key>drawerByShape</key>
	<string>parallelNavigatorVisibility</string>
	<key>featureUntilFacade</key>
	<string>captionAgainstContext</string>
	<key>interactorThanShape</key>
	<string>durationPhaseShape</string>
	<key>keyNodeVisibility</key>
	<string>cupertinoNearNumber</string>
	<key>mobileDespiteProcess</key>
	<string>batchIncludeFramework</string>
	<key>modelPlatformOrientation</key>
	<string>cardOutsideParam</string>
	<key>transformerSystemForce</key>
	<string>convolutionAmongFacade</string>
</dict>
</plist>
