<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBitrateIndex</key>
	<string>offsetAwayCycle</string>
	<key>associatedSingletonMomentum</key>
	<string>equalizationContextStatus</string>
	<key>exceptionParamCount</key>
	<string>storyboardMethodInteraction</string>
	<key>isolateLevelTint</key>
	<string>interactorAdapterHue</string>
	<key>storyboardVariableInterval</key>
	<string>singleCycleFeedback</string>
	<key>tensorFutureShape</key>
	<string>bufferAboutStrategy</string>
</dict>
</plist>
