<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterLevelName</key>
	<string>graphicPrototypeFeedback</string>
	<key>contractionFormDensity</key>
	<string>denseChallengeInset</string>
	<key>criticalGetxInset</key>
	<string>segmentOrProxy</string>
	<key>lastEqualizationTail</key>
	<string>responseInterpreterCoord</string>
	<key>localizationByJob</key>
	<string>dialogsByProxy</string>
	<key>nodeDuringBuffer</key>
	<string>rectObserverTail</string>
	<key>requestParamFormat</key>
	<string>routeVersusType</string>
	<key>sizeIncludeShape</key>
	<string>immutableMethodHead</string>
	<key>subscriptionContainVar</key>
	<string>providerOutsideVar</string>
</dict>
</plist>
