<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCompletionSize</key>
	<string>previewStrategySkewy</string>
	<key>musicNearTask</key>
	<string>alphaLevelShape</string>
	<key>queryInProxy</key>
	<string>crudeNavigatorState</string>
	<key>secondSymbolVisibility</key>
	<string>cupertinoNearStrategy</string>
	<key>slashTierFormat</key>
	<string>otherBrushColor</string>
	<key>smallMenuPressure</key>
	<string>managerBridgeKind</string>
	<key>spriteDecoratorBottom</key>
	<string>taskContextLocation</string>
</dict>
</plist>
