<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBlocVisible</key>
	<string>immutableGraphFeedback</string>
	<key>asyncTempleEdge</key>
	<string>roleForFlyweight</string>
	<key>featureKindAlignment</key>
	<string>cubeFromPattern</string>
	<key>fusedStepValidation</key>
	<string>pinchablePopupDistance</string>
	<key>pointContainStyle</key>
	<string>awaitAsPattern</string>
	<key>rectLayerVisible</key>
	<string>customNavigatorType</string>
	<key>sampleDuringShape</key>
	<string>primaryCacheCenter</string>
</dict>
</plist>
