<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAnchorKind</key>
	<string>topicSinceSystem</string>
	<key>chapterActionCenter</key>
	<string>textDespiteSystem</string>
	<key>customRouterHue</key>
	<string>interactorAboutCycle</string>
	<key>cycleTierSize</key>
	<string>symmetricCursorDensity</string>
	<key>mediumSceneMode</key>
	<string>timerActionShade</string>
	<key>specifyStorageTop</key>
	<string>graphicAroundFlyweight</string>
</dict>
</plist>
