<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOfPlatform</key>
	<string>expandedTaskOrigin</string>
	<key>blocCompositeDuration</key>
	<string>associatedSceneOpacity</string>
	<key>entityTaskInterval</key>
	<string>textVarVelocity</string>
	<key>gemAboutMethod</key>
	<string>nodeVariableFormat</string>
	<key>skirtStageAppearance</key>
	<string>channelAsType</string>
	<key>tensorInteractorHue</key>
	<string>semanticRouteDistance</string>
	<key>tickerThroughDecorator</key>
	<string>sharedDelegateDepth</string>
</dict>
</plist>
