<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBrushBottom</key>
	<string>skirtProcessBound</string>
	<key>anchorTempleSpeed</key>
	<string>scaleFunctionTheme</string>
	<key>heapInCommand</key>
	<string>activityAmongPhase</string>
	<key>positionedIncludeFramework</key>
	<string>sizedboxAtVariable</string>
	<key>protectedManagerTint</key>
	<string>secondStepColor</string>
	<key>semanticMetadataFormat</key>
	<string>sinkUntilProxy</string>
	<key>taskPrototypeIndex</key>
	<string>responsiveResourceBrightness</string>
</dict>
</plist>
