<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionButtonDirection</key>
	<string>statefulHandlerPadding</string>
	<key>drawerActivityLocation</key>
	<string>queryInterpreterFrequency</string>
	<key>instructionCommandOpacity</key>
	<string>frameCompositeTail</string>
	<key>logLikeMethod</key>
	<string>chapterOutsideMemento</string>
	<key>reductionFacadeMargin</key>
	<string>asyncContainOperation</string>
	<key>staticGraphHue</key>
	<string>uniformFrameVisible</string>
</dict>
</plist>
