<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentThanBridge</key>
	<string>diversifiedTransitionShade</string>
	<key>frameFrameworkMomentum</key>
	<string>interactiveIsolateDepth</string>
	<key>petNumberOffset</key>
	<string>animatedBinaryShade</string>
	<key>sampleCycleDuration</key>
	<string>denseCurveTransparency</string>
	<key>sceneSinceWork</key>
	<string>particleProxyEdge</string>
</dict>
</plist>
