<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionShapeMargin</key>
	<string>resultExceptCycle</string>
	<key>awaitWorkTail</key>
	<string>sampleOfJob</string>
	<key>certificateParameterBrightness</key>
	<string>localizationAtProxy</string>
	<key>dedicatedDialogsDepth</key>
	<string>callbackParamDelay</string>
	<key>diversifiedObserverValidation</key>
	<string>discardedTweenDirection</string>
	<key>localPlateAlignment</key>
	<string>radioSystemPosition</string>
	<key>oldImageName</key>
	<string>listenerNumberKind</string>
</dict>
</plist>
