<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAgainstJob</key>
	<string>completerFacadeDirection</string>
	<key>blocVersusKind</key>
	<string>mediaOrProcess</string>
	<key>buttonAboutMethod</key>
	<string>equipmentValueVisibility</string>
	<key>elasticTextureContrast</key>
	<string>assetFormDirection</string>
	<key>remainderStateTop</key>
	<string>uniqueAwaitCoord</string>
	<key>resolverEnvironmentOrigin</key>
	<string>configurationDuringBridge</string>
	<key>resourceAlongStructure</key>
	<string>desktopMusicTransparency</string>
	<key>titleValueLeft</key>
	<string>hierarchicalAxisBound</string>
	<key>unactivatedAnimationRight</key>
	<string>discardedRepositoryBrightness</string>
</dict>
</plist>
