<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationNearChain</key>
	<string>sessionExceptPlatform</string>
	<key>missedRemainderFeedback</key>
	<string>ignoredHashDirection</string>
	<key>resourceThanValue</key>
	<string>dimensionByVar</string>
	<key>swiftPrototypeMargin</key>
	<string>musicVersusState</string>
	<key>toolLayerTail</key>
	<string>animationOutsideAction</string>
</dict>
</plist>
