<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSensorTransparency</key>
	<string>observerTierStyle</string>
	<key>borderNumberRate</key>
	<string>modalNearCycle</string>
	<key>controllerAboutSystem</key>
	<string>monsterBeyondSingleton</string>
	<key>crudeEffectVisible</key>
	<string>progressbarDecoratorOffset</string>
	<key>displayableDecorationMomentum</key>
	<string>protocolIncludeParameter</string>
	<key>frameForProcess</key>
	<string>typicalConvolutionDirection</string>
	<key>unactivatedCommandContrast</key>
	<string>transitionByShape</string>
</dict>
</plist>
