<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paddingExceptStyle</key>
	<string>promiseDecoratorKind</string>
	<key>secondMomentumDelay</key>
	<string>diversifiedGemDistance</string>
	<key>sliderBufferShape</key>
	<string>greatIndicatorAlignment</string>
	<key>storeForBuffer</key>
	<string>layoutOutsideAction</string>
	<key>swiftForCycle</key>
	<string>notificationContextCoord</string>
</dict>
</plist>
