<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsVersusOperation</key>
	<string>capacitiesCompositeInterval</string>
	<key>constraintBesideAction</key>
	<string>basicDecorationSize</string>
	<key>contractionBeyondSystem</key>
	<string>techniqueEnvironmentState</string>
	<key>flexibleMonsterBehavior</key>
	<string>mobileApertureCenter</string>
	<key>futureFormCenter</key>
	<string>constTopicIndex</string>
	<key>matrixStructurePosition</key>
	<string>topicTierDepth</string>
	<key>persistentInterpolationOrigin</key>
	<string>newestShaderRate</string>
	<key>pinchableCupertinoTail</key>
	<string>routeStateDirection</string>
	<key>pinchableOptionValidation</key>
	<string>geometricResourceIndex</string>
	<key>sampleLayerTension</key>
	<string>hashAboutVisitor</string>
</dict>
</plist>
