<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionVersusSingleton</key>
	<string>transitionLikeInterpreter</string>
	<key>featureProxyHue</key>
	<string>effectTypeTint</string>
	<key>granularGemOpacity</key>
	<string>taskCycleTag</string>
	<key>isolateDespiteVisitor</key>
	<string>observerBesideNumber</string>
	<key>listenerMediatorFrequency</key>
	<string>imperativeRouterTransparency</string>
	<key>logInterpreterSpeed</key>
	<string>descriptionEnvironmentSkewy</string>
	<key>nibShapeAcceleration</key>
	<string>bulletVariableSpacing</string>
	<key>resilientUsecaseOpacity</key>
	<string>rowPrototypeOrientation</string>
	<key>utilWorkInset</key>
	<string>groupCycleInset</string>
</dict>
</plist>
