<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxNumberLocation</key>
	<string>diversifiedSegueRotation</string>
	<key>resolverNearProcess</key>
	<string>storeVisitorScale</string>
	<key>sophisticatedArithmeticVisible</key>
	<string>normalInterfaceCenter</string>
</dict>
</plist>
