<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeOutsideVar</key>
	<string>scrollableGrainAcceleration</string>
	<key>directHashMomentum</key>
	<string>priorityFromVisitor</string>
	<key>immutableActivityDirection</key>
	<string>liteBatchFeedback</string>
	<key>profileJobTransparency</key>
	<string>criticalPositionSpeed</string>
	<key>sortedDescriptionOrientation</key>
	<string>publicTableBehavior</string>
</dict>
</plist>
