<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPhaseHead</key>
	<string>logProcessName</string>
	<key>compositionParamDirection</key>
	<string>singletonAwayLayer</string>
	<key>frameFromStructure</key>
	<string>observerPatternBorder</string>
	<key>fusedSliderStatus</key>
	<string>currentOverlayTheme</string>
	<key>isolateAwayShape</key>
	<string>threadStateTint</string>
	<key>mobxInsideTier</key>
	<string>menuFromWork</string>
	<key>painterAroundKind</key>
	<string>particleVariableDelay</string>
	<key>sessionAdapterVisibility</key>
	<string>graphicCycleStyle</string>
	<key>smallErrorSpeed</key>
	<string>routeFormInterval</string>
	<key>tweenIncludeTemple</key>
	<string>precisionLikePlatform</string>
</dict>
</plist>
