<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentJobCoord</key>
	<string>viewVarDelay</string>
	<key>backwardObserverInterval</key>
	<string>metadataContextContrast</string>
	<key>beginnerNotificationTag</key>
	<string>scrollableRequestRotation</string>
	<key>channelProxySkewy</key>
	<string>scaffoldTierDepth</string>
	<key>elasticAspectratioSkewx</key>
	<string>grainActionSkewx</string>
	<key>memberViaForm</key>
	<string>arithmeticPopupMode</string>
	<key>relationalCanvasMargin</key>
	<string>operationAboutOperation</string>
	<key>requestAroundNumber</key>
	<string>factoryTempleFrequency</string>
	<key>uniqueFeatureVisible</key>
	<string>memberTempleTransparency</string>
	<key>usedDialogsTransparency</key>
	<string>flexIncludePattern</string>
</dict>
</plist>
