<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalSpotKind</key>
	<string>subtleRouterLocation</string>
	<key>modalObserverCenter</key>
	<string>routeAgainstValue</string>
	<key>scalePatternCoord</key>
	<string>beginnerBlocMode</string>
	<key>sceneActivitySkewx</key>
	<string>handlerAboutStyle</string>
	<key>signParameterStyle</key>
	<string>associatedLocalizationTension</string>
	<key>widgetAndFlyweight</key>
	<string>liteStoreSaturation</string>
</dict>
</plist>
