<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardMethodPressure</key>
	<string>rowValueTransparency</string>
	<key>mobxSingletonOffset</key>
	<string>musicOutsideProcess</string>
	<key>nibAgainstValue</key>
	<string>controllerIncludeMode</string>
</dict>
</plist>
