<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferSingletonType</key>
	<string>navigatorProxyColor</string>
	<key>draggableFutureTheme</key>
	<string>delicateScaffoldCount</string>
	<key>effectStrategyStyle</key>
	<string>giftStyleRight</string>
	<key>multiplicationObserverBorder</key>
	<string>discardedButtonSpacing</string>
	<key>requiredAssetIndex</key>
	<string>basicEntropyRate</string>
	<key>smartHistogramTension</key>
	<string>tickerAdapterTag</string>
	<key>streamFormInterval</key>
	<string>durationPerParameter</string>
	<key>themeStateDuration</key>
	<string>observerThanSingleton</string>
	<key>widgetParamTheme</key>
	<string>axisDespiteBuffer</string>
</dict>
</plist>
