<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeGridAlignment</key>
	<string>statelessArithmeticVisible</string>
	<key>delegateLikeMethod</key>
	<string>sliderParameterOpacity</string>
	<key>interactorAgainstTemple</key>
	<string>semanticGraphTag</string>
	<key>intuitivePageviewType</key>
	<string>binaryCycleFeedback</string>
	<key>lastProfileName</key>
	<string>captionWithScope</string>
</dict>
</plist>
