<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistEnvironmentTheme</key>
	<string>standaloneThreadMargin</string>
	<key>cupertinoAndBuffer</key>
	<string>intermediateHandlerInteraction</string>
	<key>deferredCycleSkewy</key>
	<string>equipmentAtFacade</string>
	<key>displayableFactoryInset</key>
	<string>paddingOperationMomentum</string>
	<key>finalPainterSpeed</key>
	<string>visibleRectStatus</string>
	<key>scenePlatformTag</key>
	<string>unsortedMatrixScale</string>
</dict>
</plist>
