<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBufferDistance</key>
	<string>smallAsyncBehavior</string>
	<key>configurationAndLayer</key>
	<string>sequentialLabelTag</string>
	<key>crudeActionHead</key>
	<string>borderTempleRotation</string>
	<key>crudeCompletionSkewy</key>
	<string>particlePhaseOrientation</string>
	<key>denseAwaitTag</key>
	<string>queryStateLeft</string>
	<key>instructionByPattern</key>
	<string>musicAroundChain</string>
	<key>mobileStageOrientation</key>
	<string>cubitStateMargin</string>
	<key>projectPlatformFormat</key>
	<string>missionPatternRight</string>
	<key>spineFrameworkBrightness</key>
	<string>scaffoldProcessKind</string>
	<key>workflowDespitePlatform</key>
	<string>requestFormSpacing</string>
</dict>
</plist>
