<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNavigatorHue</key>
	<string>bufferIncludeFlyweight</string>
	<key>bufferIncludeChain</key>
	<string>sinkByType</string>
	<key>concreteCallbackTheme</key>
	<string>numericalDecorationTail</string>
	<key>configurationTaskLeft</key>
	<string>transitionInsideSystem</string>
	<key>crudeSlashBottom</key>
	<string>geometricPlateName</string>
	<key>drawerAtAdapter</key>
	<string>mapAroundKind</string>
	<key>exceptionAtJob</key>
	<string>grayscaleShapeMargin</string>
	<key>hierarchicalThemeAlignment</key>
	<string>documentAwayVar</string>
	<key>protectedCallbackSpeed</key>
	<string>unsortedProviderForce</string>
</dict>
</plist>
