<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futurePerAction</key>
	<string>flexSystemCoord</string>
	<key>materialSceneDepth</key>
	<string>parallelButtonCenter</string>
	<key>sinkPatternPadding</key>
	<string>mediocreQueryPressure</string>
	<key>workflowBesideChain</key>
	<string>listenerIncludeParameter</string>
</dict>
</plist>
