<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCycleScale</key>
	<string>grayscaleCycleInset</string>
	<key>captionForInterpreter</key>
	<string>unsortedInjectionTransparency</string>
	<key>collectionInFramework</key>
	<string>dynamicLayoutLocation</string>
	<key>offsetPatternForce</key>
	<string>masterLikeKind</string>
	<key>publicStampTag</key>
	<string>robustTaskDelay</string>
	<key>resourceAdapterCoord</key>
	<string>notificationTierSpacing</string>
	<key>seamlessEffectInterval</key>
	<string>missedExpandedStatus</string>
</dict>
</plist>
