<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryJobTransparency</key>
	<string>normAwayLayer</string>
	<key>missedGemName</key>
	<string>widgetAndForm</string>
	<key>smallControllerSize</key>
	<string>particleKindContrast</string>
	<key>tappableChapterDuration</key>
	<string>concreteDecorationPressure</string>
</dict>
</plist>
