<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitBesideBuffer</key>
	<string>invisibleAxisDuration</string>
	<key>drawerSystemDirection</key>
	<string>requiredViewStyle</string>
	<key>lostRiverpodTension</key>
	<string>otherManagerColor</string>
	<key>requestNearFramework</key>
	<string>adaptiveSubscriptionScale</string>
	<key>usedAlignmentTop</key>
	<string>gradientAdapterOffset</string>
	<key>viewFrameworkFormat</key>
	<string>firstChartEdge</string>
</dict>
</plist>
