<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCycleVisibility</key>
	<string>discardedEffectInterval</string>
	<key>eagerNibVisible</key>
	<string>signatureAlongTask</string>
	<key>fusedIntensityInterval</key>
	<string>resultParamForce</string>
	<key>immediatePrioritySize</key>
	<string>eventForCycle</string>
	<key>metadataAndVariable</key>
	<string>sharedLocalizationColor</string>
	<key>newestMethodAppearance</key>
	<string>gramAndTier</string>
	<key>tabviewUntilFramework</key>
	<string>equalizationContainVar</string>
</dict>
</plist>
