<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderUntilDecorator</key>
	<string>unsortedReducerVisibility</string>
	<key>commandViaTier</key>
	<string>signatureJobName</string>
	<key>commonProtocolColor</key>
	<string>mediocreDelegateLocation</string>
	<key>discardedTimerBehavior</key>
	<string>transitionTaskRate</string>
	<key>flexAmongPrototype</key>
	<string>missedBlocFlags</string>
	<key>notifierNearState</key>
	<string>requestInterpreterMargin</string>
	<key>resolverAsCommand</key>
	<string>overlayJobTag</string>
	<key>spineInsideLevel</key>
	<string>transformerFormHue</string>
	<key>temporaryTextfieldSpeed</key>
	<string>integerMethodTension</string>
</dict>
</plist>
