<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarySinceVar</key>
	<string>taskUntilMemento</string>
	<key>blocFormMode</key>
	<string>standaloneIntensitySkewx</string>
	<key>delegateActionOrigin</key>
	<string>diffableGridviewSize</string>
	<key>descriptionOutsidePrototype</key>
	<string>storageAtActivity</string>
	<key>groupStateName</key>
	<string>threadInsideOperation</string>
	<key>inkwellFunctionOpacity</key>
	<string>interfaceStyleLeft</string>
	<key>sampleTaskSkewy</key>
	<string>inkwellAboutNumber</string>
	<key>utilFormFormat</key>
	<string>allocatorUntilType</string>
</dict>
</plist>
