<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCubeForce</key>
	<string>paddingScopeKind</string>
	<key>builderActionShade</key>
	<string>exceptionFacadeInteraction</string>
	<key>concreteAlignmentTint</key>
	<string>enabledDimensionEdge</string>
	<key>consumerPerType</key>
	<string>widgetInWork</string>
	<key>kernelInterpreterOffset</key>
	<string>customReferenceTheme</string>
	<key>modalThroughPlatform</key>
	<string>reducerOfVisitor</string>
	<key>nextTaskStatus</key>
	<string>rapidBuilderDepth</string>
	<key>painterBufferLeft</key>
	<string>memberBeyondShape</string>
	<key>stepJobMode</key>
	<string>scaleProxyBound</string>
	<key>touchActionContrast</key>
	<string>commandSystemMargin</string>
</dict>
</plist>
