<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedRepositoryAlignment</key>
	<string>hashVarRight</string>
	<key>collectionAlongMethod</key>
	<string>nodeFormRate</string>
	<key>cubitWithPattern</key>
	<string>richtextTypeDuration</string>
	<key>navigationFunctionDelay</key>
	<string>advancedPresenterIndex</string>
	<key>popupDespiteVar</key>
	<string>builderJobBottom</string>
	<key>screenContextTension</key>
	<string>axisContainTier</string>
</dict>
</plist>
