<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowSinceCommand</key>
	<string>transitionStageFlags</string>
	<key>containerActionScale</key>
	<string>providerThroughEnvironment</string>
	<key>declarativeNormSaturation</key>
	<string>futureEnvironmentSkewy</string>
	<key>delicateIsolateBorder</key>
	<string>immediateHeapDensity</string>
	<key>largeTextBottom</key>
	<string>denseReducerStyle</string>
	<key>modelBeyondTemple</key>
	<string>alphaWorkHue</string>
	<key>promiseFromTemple</key>
	<string>unsortedGetxResponse</string>
	<key>sharedSensorHead</key>
	<string>cupertinoAmongMode</string>
	<key>singleCompleterForce</key>
	<string>smallHeroIndex</string>
</dict>
</plist>
