<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryWithoutBridge</key>
	<string>observerTierTint</string>
	<key>adaptiveSceneVisibility</key>
	<string>assetDecoratorAlignment</string>
	<key>expandedWithTask</key>
	<string>chapterPatternVelocity</string>
	<key>iterativeOptionCoord</key>
	<string>resourceOfParam</string>
	<key>navigationIncludeMediator</key>
	<string>layoutExceptKind</string>
</dict>
</plist>
