<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorViaVariable</key>
	<string>cursorPerProcess</string>
	<key>displayableRouteOffset</key>
	<string>semanticExpandedInterval</string>
	<key>elasticObserverDepth</key>
	<string>graphSystemPosition</string>
	<key>musicParamEdge</key>
	<string>advancedBuilderContrast</string>
	<key>reusableTopicName</key>
	<string>uniformRepositoryInteraction</string>
	<key>textureStateStatus</key>
	<string>optimizerVisitorTension</string>
</dict>
</plist>
