<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledBehaviorSpacing</key>
	<string>respectiveMetadataDelay</string>
	<key>queueTaskDuration</key>
	<string>mobileReducerTail</string>
	<key>rectActionFlags</key>
	<string>publicModelFormat</string>
	<key>tabviewThanJob</key>
	<string>independentChapterDensity</string>
	<key>widgetMementoResponse</key>
	<string>providerProxyPosition</string>
</dict>
</plist>
