<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeHeroName</key>
	<string>routerLevelDepth</string>
	<key>adaptiveBaselineBorder</key>
	<string>disparateExceptionTension</string>
	<key>borderPerMediator</key>
	<string>groupMementoOffset</string>
	<key>constraintForFlyweight</key>
	<string>finalLocalizationSize</string>
	<key>effectPerForm</key>
	<string>explicitTitleCoord</string>
	<key>equalizationAroundMethod</key>
	<string>radiusBeyondNumber</string>
	<key>scaffoldCompositeKind</key>
	<string>cubitAdapterDirection</string>
	<key>scrollCycleValidation</key>
	<string>smartRectTop</string>
	<key>utilIncludeMethod</key>
	<string>cartesianCompleterLocation</string>
</dict>
</plist>
