<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeRemainderIndex</key>
	<string>granularModalMargin</string>
	<key>dedicatedWorkflowCoord</key>
	<string>injectionFlyweightCenter</string>
	<key>descriptorLevelContrast</key>
	<string>denseCubeEdge</string>
	<key>fragmentAsProxy</key>
	<string>getxUntilEnvironment</string>
	<key>navigatorAwayJob</key>
	<string>mobileSpriteInteraction</string>
	<key>singletonProxyTint</key>
	<string>scrollableScaleFlags</string>
	<key>sustainableCursorSkewy</key>
	<string>checklistOrFunction</string>
	<key>usedServicePosition</key>
	<string>captionThroughStage</string>
</dict>
</plist>
