<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constPageviewTransparency</key>
	<string>callbackOperationSpacing</string>
	<key>deferredSliderAcceleration</key>
	<string>sustainableGroupOffset</string>
	<key>documentAgainstTask</key>
	<string>errorForContext</string>
	<key>drawerContainContext</key>
	<string>declarativeTextLocation</string>
	<key>eagerCardVelocity</key>
	<string>symmetricTitleCenter</string>
	<key>functionalRadioBehavior</key>
	<string>aspectratioProxyBrightness</string>
	<key>persistentEquipmentTop</key>
	<string>overlayScopeTheme</string>
	<key>singletonPrototypeTint</key>
	<string>streamWithPlatform</string>
	<key>touchUntilEnvironment</key>
	<string>customizedObserverInterval</string>
	<key>uniformViewPressure</key>
	<string>independentArithmeticPressure</string>
</dict>
</plist>
