<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPerFramework</key>
	<string>timerDespiteBridge</string>
	<key>compositionAsProcess</key>
	<string>staticAwaitShape</string>
	<key>descriptionParamTint</key>
	<string>unactivatedTaskTail</string>
	<key>draggableControllerValidation</key>
	<string>labelPerObserver</string>
	<key>extensionContextOpacity</key>
	<string>explicitPopupPosition</string>
	<key>scrollableFutureIndex</key>
	<string>smallVariantValidation</string>
	<key>utilNearCommand</key>
	<string>observerLevelRate</string>
	<key>viewParamStyle</key>
	<string>layerTypeHead</string>
</dict>
</plist>
