<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAmongPrototype</key>
	<string>iterativeTextfieldFeedback</string>
	<key>blocKindFeedback</key>
	<string>easyTweenCoord</string>
	<key>controllerFromStructure</key>
	<string>zoneOperationName</string>
	<key>elasticDependencyVisibility</key>
	<string>getxTierAppearance</string>
	<key>roleWorkFeedback</key>
	<string>streamAmongMethod</string>
</dict>
</plist>
