<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisExceptKind</key>
	<string>notifierBeyondBuffer</string>
	<key>constBaseAppearance</key>
	<string>zoneChainTop</string>
	<key>interpolationCommandTheme</key>
	<string>stateParamResponse</string>
	<key>offsetAndFunction</key>
	<string>isolateBeyondNumber</string>
	<key>pageviewInCycle</key>
	<string>labelJobFlags</string>
	<key>protectedExponentInterval</key>
	<string>advancedInstructionSpeed</string>
	<key>spinePatternEdge</key>
	<string>progressbarTierCoord</string>
	<key>transformerDecoratorDepth</key>
	<string>touchCycleDepth</string>
</dict>
</plist>
