<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineVariableAppearance</key>
	<string>allocatorAndCycle</string>
	<key>crucialBufferDelay</key>
	<string>inkwellVariableStatus</string>
	<key>hashOutsideActivity</key>
	<string>uniqueCallbackTheme</string>
	<key>streamFromPrototype</key>
	<string>documentLevelType</string>
	<key>textureMediatorForce</key>
	<string>sizeAndProcess</string>
	<key>uniqueSpriteRate</key>
	<string>stampAroundMethod</string>
</dict>
</plist>
