<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionMementoLeft</key>
	<string>promiseFlyweightOrigin</string>
	<key>compositionInsideKind</key>
	<string>channelsStructureShape</string>
	<key>errorFrameworkTag</key>
	<string>materialGateTail</string>
	<key>gemParamForce</key>
	<string>tweenVariableCoord</string>
	<key>localizationDuringLevel</key>
	<string>lossInsideFacade</string>
	<key>requiredResultMomentum</key>
	<string>sizeDespiteProcess</string>
	<key>spotVarCenter</key>
	<string>completerThroughMemento</string>
	<key>zoneAwayVar</key>
	<string>musicNumberHead</string>
</dict>
</plist>
