<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAdapterSpeed</key>
	<string>alertVisitorBehavior</string>
	<key>groupVersusFunction</key>
	<string>spotJobDelay</string>
	<key>materialTickerFeedback</key>
	<string>unsortedGridviewTint</string>
	<key>optionBufferCenter</key>
	<string>exceptionPerFacade</string>
	<key>streamPerMode</key>
	<string>intensityAtAdapter</string>
</dict>
</plist>
