<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTransitionAppearance</key>
	<string>layoutMementoInteraction</string>
	<key>dedicatedPositionType</key>
	<string>permanentSubscriptionVisible</string>
	<key>logarithmParameterTop</key>
	<string>matrixOutsideObserver</string>
	<key>mobileAsVariable</key>
	<string>timerScopeSize</string>
	<key>numericalCurveMargin</key>
	<string>stateProxyOffset</string>
	<key>positionSinceInterpreter</key>
	<string>checkboxProcessCoord</string>
	<key>stepDespiteVar</key>
	<string>arithmeticSingletonScale</string>
</dict>
</plist>
