<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionIncludeProxy</key>
	<string>observerIncludeComposite</string>
	<key>cupertinoCupertinoShape</key>
	<string>scaleExceptParam</string>
	<key>disparateRouteHead</key>
	<string>queuePhaseColor</string>
	<key>hyperbolicBlocFrequency</key>
	<string>resilientControllerVisibility</string>
	<key>inactiveMonsterType</key>
	<string>musicAndInterpreter</string>
	<key>materialThemeMargin</key>
	<string>deferredPetRight</string>
	<key>mobxViaFunction</key>
	<string>activityTypeIndex</string>
	<key>sharedConstraintShade</key>
	<string>controllerSinceMode</string>
	<key>taskTaskAcceleration</key>
	<string>coordinatorViaPattern</string>
</dict>
</plist>
