<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveForSystem</key>
	<string>cyclePlatformSpeed</string>
	<key>denseBufferRotation</key>
	<string>navigatorAtMemento</string>
	<key>flexibleMediaInterval</key>
	<string>intermediateCurveSaturation</string>
	<key>imperativeAlignmentDelay</key>
	<string>arithmeticManagerIndex</string>
	<key>momentumModeTransparency</key>
	<string>localizationBesideTier</string>
	<key>radioTempleSpacing</key>
	<string>transitionInStrategy</string>
	<key>substantialDurationSpeed</key>
	<string>storageWithInterpreter</string>
	<key>visibleCurveBehavior</key>
	<string>agileImageShape</string>
</dict>
</plist>
