<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAwaitDirection</key>
	<string>themeOfContext</string>
	<key>coordinatorStructureBorder</key>
	<string>canvasAsOperation</string>
	<key>cubeLikePattern</key>
	<string>apertureStageOrigin</string>
	<key>functionalTernaryShape</key>
	<string>painterAroundWork</string>
	<key>sizeAlongPattern</key>
	<string>directlyChartDelay</string>
	<key>sortedAnchorDistance</key>
	<string>denseModelKind</string>
	<key>switchTypeCenter</key>
	<string>descriptionVariableFlags</string>
</dict>
</plist>
