<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAmongType</key>
	<string>adaptiveResultInset</string>
	<key>completerShapeMomentum</key>
	<string>criticalChartTag</string>
	<key>hashThroughComposite</key>
	<string>providerTierTint</string>
	<key>imperativeLabelHue</key>
	<string>activityFormVelocity</string>
	<key>keyQueryValidation</key>
	<string>groupIncludeNumber</string>
</dict>
</plist>
