<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonModeDelay</key>
	<string>intensityVersusSingleton</string>
	<key>cellNearShape</key>
	<string>signWithoutVariable</string>
	<key>channelsAmongTemple</key>
	<string>routerActionTag</string>
	<key>contractionJobSkewy</key>
	<string>bufferTypeInteraction</string>
	<key>controllerStyleState</key>
	<string>handlerStateHead</string>
	<key>curveActionBound</key>
	<string>flexStyleAppearance</string>
	<key>dynamicSliderMode</key>
	<string>callbackMethodContrast</string>
	<key>geometricTweenLeft</key>
	<string>scrollFunctionPosition</string>
	<key>relationalGateResponse</key>
	<string>blocVariableHue</string>
	<key>repositoryBufferTension</key>
	<string>sinkPerJob</string>
</dict>
</plist>
