<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFlyweightSpacing</key>
	<string>histogramAsBridge</string>
	<key>blocAtStyle</key>
	<string>visibleBoxState</string>
	<key>composableParticleForce</key>
	<string>dimensionAtMethod</string>
	<key>compositionalPositionLocation</key>
	<string>asynchronousGrayscaleOrientation</string>
	<key>getxStateRight</key>
	<string>baseBeyondLayer</string>
	<key>inactiveLabelFrequency</key>
	<string>constraintWithoutPattern</string>
	<key>memberCommandLocation</key>
	<string>opaqueTaskColor</string>
	<key>methodAtAdapter</key>
	<string>entropyStrategyName</string>
	<key>modelAroundStyle</key>
	<string>listenerThroughNumber</string>
	<key>prismaticGrayscaleStatus</key>
	<string>featureVisitorFlags</string>
</dict>
</plist>
