<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorThroughAdapter</key>
	<string>globalSlashBorder</string>
	<key>capsuleDespiteCommand</key>
	<string>cycleOfMode</string>
	<key>delicateNotifierBorder</key>
	<string>sampleIncludeScope</string>
	<key>dependencyChainDepth</key>
	<string>plateWithoutEnvironment</string>
	<key>disabledConstraintState</key>
	<string>immediateSpriteStatus</string>
	<key>featureInterpreterFeedback</key>
	<string>basicAspectSize</string>
	<key>radioAmongComposite</key>
	<string>remainderDespiteMemento</string>
	<key>routeMementoMode</key>
	<string>loopParamBottom</string>
	<key>sharedConvolutionEdge</key>
	<string>binaryUntilPlatform</string>
	<key>transitionAboutBridge</key>
	<string>displayableInkwellOffset</string>
</dict>
</plist>
