<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisVarSaturation</key>
	<string>channelInterpreterAppearance</string>
	<key>curveFormCount</key>
	<string>signatureViaNumber</string>
	<key>eagerAnimatedcontainerBottom</key>
	<string>flexibleStorageRate</string>
	<key>invisibleDocumentState</key>
	<string>positionedInsideFlyweight</string>
	<key>listenerActivityAppearance</key>
	<string>allocatorAlongType</string>
	<key>menuInsideCycle</key>
	<string>menuObserverFrequency</string>
	<key>sampleBridgeHue</key>
	<string>associatedQueueDuration</string>
</dict>
</plist>
