<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSwiftRight</key>
	<string>staticBitrateScale</string>
	<key>catalystPerChain</key>
	<string>ignoredWorkflowFormat</string>
	<key>customSignatureMargin</key>
	<string>grainPatternVelocity</string>
	<key>dependencyVersusForm</key>
	<string>storyboardAwayBridge</string>
	<key>presenterModeTransparency</key>
	<string>managerBridgeSpacing</string>
	<key>resilientInteractorPosition</key>
	<string>sineSystemStatus</string>
	<key>robustHandlerMode</key>
	<string>signModeTint</string>
	<key>sceneChainBorder</key>
	<string>entityWithoutType</string>
</dict>
</plist>
