<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocViaProcess</key>
	<string>scaffoldEnvironmentBottom</string>
	<key>builderVariableInteraction</key>
	<string>reactiveOverlayMomentum</string>
	<key>capacitiesPrototypeCoord</key>
	<string>compositionFormSize</string>
	<key>checkboxBeyondStructure</key>
	<string>skinForPhase</string>
	<key>currentLayerMomentum</key>
	<string>queryVarHue</string>
	<key>intuitiveDimensionTransparency</key>
	<string>particleAlongLevel</string>
	<key>sharedTransformerIndex</key>
	<string>firstModelSpacing</string>
</dict>
</plist>
