<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBesideScope</key>
	<string>optimizerProxyBottom</string>
	<key>anchorModeTail</key>
	<string>draggableHashPadding</string>
	<key>descriptorBridgeHead</key>
	<string>singleRouterState</string>
	<key>difficultMonsterDistance</key>
	<string>methodVisitorShade</string>
	<key>eventTierHue</key>
	<string>subtleTextPressure</string>
	<key>liteControllerSpeed</key>
	<string>controllerWithStructure</string>
	<key>sizedboxPerLayer</key>
	<string>monsterTaskMode</string>
	<key>smallResourceDuration</key>
	<string>entropyStyleBehavior</string>
	<key>specifierVersusFlyweight</key>
	<string>accessoryFlyweightVisible</string>
</dict>
</plist>
