<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferInterpreterRate</key>
	<string>transformerOrTask</string>
	<key>callbackSingletonPressure</key>
	<string>aspectratioVarPosition</string>
	<key>controllerUntilDecorator</key>
	<string>constraintChainTag</string>
	<key>delegateValueOrigin</key>
	<string>particleLevelVisibility</string>
	<key>enabledMomentumSpeed</key>
	<string>titleDuringSingleton</string>
	<key>functionalUsecaseVisible</key>
	<string>temporaryCollectionFrequency</string>
	<key>getxThroughTemple</key>
	<string>descriptionDespiteFlyweight</string>
	<key>multiplicationBufferSpeed</key>
	<string>sessionUntilOperation</string>
	<key>offsetStateIndex</key>
	<string>localMusicInset</string>
</dict>
</plist>
