<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPopupOffset</key>
	<string>descriptionSystemTension</string>
	<key>axisModeSpeed</key>
	<string>accordionRequestPressure</string>
	<key>channelDespiteStage</key>
	<string>cupertinoAtPrototype</string>
	<key>cupertinoNearDecorator</key>
	<string>gridAndShape</string>
	<key>delicateUsageOpacity</key>
	<string>sortedResponseBehavior</string>
	<key>techniqueModeIndex</key>
	<string>bufferThanEnvironment</string>
</dict>
</plist>
