<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorDuringParameter</key>
	<string>lastBehaviorOrientation</string>
	<key>checkboxParamRate</key>
	<string>actionUntilTier</string>
	<key>materialThanComposite</key>
	<string>missionAboutParam</string>
	<key>rapidSliderAlignment</key>
	<string>animationBufferDistance</string>
	<key>sineByShape</key>
	<string>directlyAssetStyle</string>
	<key>singleEntropyDensity</key>
	<string>largeTextBehavior</string>
	<key>statelessAwayPattern</key>
	<string>rectCycleSkewy</string>
	<key>switchViaProxy</key>
	<string>modelSinceForm</string>
	<key>temporaryOptimizerMode</key>
	<string>serviceLikeLayer</string>
</dict>
</plist>
