<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstWorkflowFlags</key>
	<string>navigationContextForce</string>
	<key>promiseInsideSingleton</key>
	<string>functionalNibSkewx</string>
	<key>resolverOrBridge</key>
	<string>expandedViaLevel</string>
	<key>routerByActivity</key>
	<string>sliderPhaseAppearance</string>
</dict>
</plist>
