<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAdapterVelocity</key>
	<string>denseEquipmentName</string>
	<key>collectionProxyTint</key>
	<string>injectionThroughVar</string>
	<key>compositionAdapterMargin</key>
	<string>localSubpixelBorder</string>
	<key>labelAtVar</key>
	<string>imageDuringPhase</string>
	<key>nativeTextShade</key>
	<string>uniformExceptionStyle</string>
	<key>permissiveBaseSaturation</key>
	<string>masterStructureStyle</string>
	<key>pivotalStateForce</key>
	<string>entropyAgainstParam</string>
	<key>semanticResponseName</key>
	<string>taskContainTier</string>
	<key>sliderCycleResponse</key>
	<string>mobileConsumerAcceleration</string>
	<key>tabviewProxySpacing</key>
	<string>variantValueCount</string>
</dict>
</plist>
