<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMobileTheme</key>
	<string>stateCycleMode</string>
	<key>dependencyOrVar</key>
	<string>delicateMapCount</string>
	<key>globalSizeBottom</key>
	<string>easyCupertinoState</string>
	<key>nodePlatformShape</key>
	<string>topicNearMemento</string>
</dict>
</plist>
