<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMediatorMargin</key>
	<string>dependencyStrategyHue</string>
	<key>flexUntilLayer</key>
	<string>euclideanLayerTint</string>
	<key>instructionCommandDistance</key>
	<string>tickerTypeAppearance</string>
</dict>
</plist>
