<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTierSkewy</key>
	<string>temporaryMetadataTransparency</string>
	<key>constraintObserverMargin</key>
	<string>mapInJob</string>
	<key>descriptorByProxy</key>
	<string>concretePlateRight</string>
	<key>flexBufferSize</key>
	<string>granularExceptionTag</string>
	<key>ignoredPositionedOrientation</key>
	<string>routerFunctionTension</string>
	<key>lastPainterSpeed</key>
	<string>effectContainLevel</string>
	<key>workflowStrategyDirection</key>
	<string>cubitCompositeRotation</string>
	<key>zoneParamBorder</key>
	<string>unactivatedSingletonEdge</string>
</dict>
</plist>
