<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionVersusStructure</key>
	<string>unsortedMapAppearance</string>
	<key>requiredCharacterDensity</key>
	<string>mobileSpecifierFlags</string>
	<key>uniquePointFrequency</key>
	<string>exceptionBridgeInteraction</string>
</dict>
</plist>
