<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedConstraintShape</key>
	<string>gateAboutTier</string>
	<key>decorationAmongForm</key>
	<string>permanentLabelShade</string>
	<key>materialBuilderMomentum</key>
	<string>optionVisitorType</string>
	<key>materialGemInteraction</key>
	<string>graphAgainstTier</string>
	<key>playbackCycleForce</key>
	<string>dropdownbuttonLevelTail</string>
	<key>segmentValueShape</key>
	<string>cardPatternShape</string>
	<key>spineAdapterVisible</key>
	<string>expandedCycleInteraction</string>
</dict>
</plist>
