<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerNumberTop</key>
	<string>injectionUntilParam</string>
	<key>durationInterpreterDelay</key>
	<string>crucialMasterLeft</string>
	<key>inactiveMasterRotation</key>
	<string>timerBufferCenter</string>
	<key>independentAnimationInset</key>
	<string>injectionByFramework</string>
	<key>independentIsolateTransparency</key>
	<string>lostMethodVisibility</string>
	<key>notificationBufferEdge</key>
	<string>mobileDelegateMomentum</string>
	<key>routerAsParameter</key>
	<string>lazyIntensityTail</string>
	<key>sensorMementoTop</key>
	<string>featurePrototypeStyle</string>
</dict>
</plist>
