<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAroundPlatform</key>
	<string>asyncTaskRate</string>
	<key>boxshadowExceptMode</key>
	<string>immutableClipperOffset</string>
	<key>drawerInsideWork</key>
	<string>petStructureIndex</string>
	<key>groupDuringCycle</key>
	<string>scaleInMethod</string>
	<key>textAwayMode</key>
	<string>giftEnvironmentKind</string>
</dict>
</plist>
