<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOutsideStage</key>
	<string>deferredNormDepth</string>
	<key>featureThroughForm</key>
	<string>ternaryNearKind</string>
	<key>slashTypeTail</key>
	<string>lossMethodFeedback</string>
	<key>storyboardFlyweightBrightness</key>
	<string>textVisitorSpacing</string>
</dict>
</plist>
