<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAtMemento</key>
	<string>crucialMetadataType</string>
	<key>dependencyThanMemento</key>
	<string>iterativeDecorationSpeed</string>
	<key>getxForEnvironment</key>
	<string>entityCommandHead</string>
	<key>histogramInterpreterOrigin</key>
	<string>resourceWorkFlags</string>
	<key>rectLayerOrientation</key>
	<string>inactiveControllerKind</string>
</dict>
</plist>
