<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetActivityBehavior</key>
	<string>blocSystemForce</string>
	<key>dimensionDecoratorShape</key>
	<string>sustainableResolverBound</string>
	<key>easySkirtMargin</key>
	<string>curveInsideType</string>
	<key>managerAwayTask</key>
	<string>labelParameterCoord</string>
	<key>masterPerPhase</key>
	<string>rectMethodOpacity</string>
	<key>paddingObserverSkewy</key>
	<string>richtextAmongAdapter</string>
	<key>responseOrEnvironment</key>
	<string>getxAmongComposite</string>
</dict>
</plist>
