<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTierShape</key>
	<string>robustCallbackTheme</string>
	<key>axisAmongInterpreter</key>
	<string>transformerLikeParam</string>
	<key>brushSinceForm</key>
	<string>modalOutsideProxy</string>
	<key>comprehensiveErrorType</key>
	<string>managerTaskOffset</string>
	<key>concurrentMenuFormat</key>
	<string>desktopNibMode</string>
	<key>effectStructureBehavior</key>
	<string>singleLocalizationKind</string>
	<key>modalAlongFlyweight</key>
	<string>otherMediaqueryLeft</string>
	<key>standalonePainterOrigin</key>
	<string>rectSingletonType</string>
</dict>
</plist>
