<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureVariableFeedback</key>
	<string>resourceNearSystem</string>
	<key>injectionWithProcess</key>
	<string>animatedcontainerViaFramework</string>
	<key>intensityLayerDepth</key>
	<string>gridCommandOrientation</string>
	<key>menuAtState</key>
	<string>cellJobName</string>
	<key>mutableGrayscaleBottom</key>
	<string>sequentialBuilderScale</string>
	<key>optionInsideScope</key>
	<string>lostTransitionLocation</string>
	<key>referenceAwayStructure</key>
	<string>cardThanJob</string>
	<key>streamPrototypeScale</key>
	<string>routeOutsideParam</string>
	<key>touchViaStage</key>
	<string>discardedProviderOffset</string>
</dict>
</plist>
