<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellTierSize</key>
	<string>assetIncludeInterpreter</string>
	<key>constStreamVisible</key>
	<string>asynchronousAspectMargin</string>
	<key>gestureIncludeShape</key>
	<string>granularChannelAppearance</string>
	<key>lostCommandVelocity</key>
	<string>mutableCoordinatorTop</string>
	<key>synchronousGesturedetectorCoord</key>
	<string>arithmeticVersusCycle</string>
	<key>tabbarFlyweightInset</key>
	<string>masterWithoutBuffer</string>
	<key>transitionTierOpacity</key>
	<string>usageFacadeSize</string>
</dict>
</plist>
