<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyPlatformTint</key>
	<string>reducerNearJob</string>
	<key>hierarchicalProgressbarCount</key>
	<string>sizedboxMediatorVisible</string>
	<key>hyperbolicMultiplicationSpacing</key>
	<string>gestureAtSingleton</string>
	<key>ignoredHandlerMomentum</key>
	<string>enabledTimerOpacity</string>
	<key>modelAtContext</key>
	<string>particleOutsideLevel</string>
	<key>prismaticOffsetTail</key>
	<string>cacheTempleFormat</string>
</dict>
</plist>
