<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTypeLeft</key>
	<string>invisibleBuilderAlignment</string>
	<key>animationLayerValidation</key>
	<string>listenerPerTier</string>
	<key>arithmeticNavigatorOpacity</key>
	<string>disabledResponseFormat</string>
	<key>disabledReferenceSize</key>
	<string>asynchronousAnimationDepth</string>
	<key>durationParameterShade</key>
	<string>serviceThanVar</string>
	<key>fixedRepositoryShape</key>
	<string>previewOfContext</string>
	<key>hashOfWork</key>
	<string>behaviorAtSingleton</string>
	<key>mobxVarScale</key>
	<string>nextParticleMargin</string>
	<key>smartLossAlignment</key>
	<string>richtextViaStyle</string>
</dict>
</plist>
