<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBesideStructure</key>
	<string>themeIncludeVariable</string>
	<key>gramFlyweightAcceleration</key>
	<string>gridviewStrategyScale</string>
	<key>histogramJobTag</key>
	<string>arithmeticPriorityLeft</string>
	<key>subpixelOperationAppearance</key>
	<string>errorLikeFramework</string>
</dict>
</plist>
