<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOfFlyweight</key>
	<string>temporaryCompositionHead</string>
	<key>buttonAndProcess</key>
	<string>modalAndPrototype</string>
	<key>comprehensiveAspectratioBrightness</key>
	<string>queueEnvironmentVisible</string>
	<key>diversifiedAlignmentRotation</key>
	<string>taskMementoHead</string>
	<key>documentOperationDelay</key>
	<string>dependencyVersusKind</string>
</dict>
</plist>
