<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOfContext</key>
	<string>lostExtensionVisibility</string>
	<key>localizationNearBridge</key>
	<string>richtextOperationHue</string>
	<key>significantArithmeticLocation</key>
	<string>multiplicationObserverSaturation</string>
	<key>symbolDespiteOperation</key>
	<string>dynamicBuilderDirection</string>
</dict>
</plist>
