<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioByProcess</key>
	<string>storeAroundPattern</string>
	<key>displayableAnchorDelay</key>
	<string>reducerAmongOperation</string>
	<key>particleAwayStyle</key>
	<string>cacheBufferContrast</string>
	<key>viewAtActivity</key>
	<string>gesturedetectorAboutBridge</string>
</dict>
</plist>
